<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>新增专区</title>
<!--[if IE]>
    	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <![endif]-->
<link rel="stylesheet" theme="default" href="../../asset/css/theme/default/coc_frame.css" />
<link rel="stylesheet" theme="default" href="../../asset/css/theme/default/main.css" />
<script type="text/javascript" src="../../asset/script/common/include.js"></script>
<script type="text/javascript" src="allUserMsg_add.js"></script>
<style type="text/css">
[v-cloak] {
	display: none;
}
</style>
<!--[if lt IE 9]>
	    <script src="../../asset/script/component/h5compatibility/html5shiv.min.js"></script>
	    <script src="../../asset/script/component/h5compatibility/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<div id="dataD" class="iframe-nest" v-cloak>
		<div class="ui-reg-main">
			<div class="ui-lc-mian">
				<form id="saveDataForm">
					<input type="hidden" v-model="priKey" id="priKey" name="priKey" />
					<input type="hidden" id="dimOrgLevelStr" name="dimOrgLevelStr" />
					<div class="ui-reg-search">
						<div class="form-horizontal ui-form dimtable-table">
							<div class="ui-form-group">
								<label class="control-label fleft"><span class="input-required">*</span>全量表名称</label>
								<div class="control-input">
									<input v-model="tableDesc" name="tableDesc" type="text" class="fleft form-control easyui-validatebox" required="true" placeholder="全量表描述" />
								</div>
							</div>
							<div class="ui-form-group">
								<label class="control-label fleft">是否分区</label>
								<div class="control-input">
									<input type="checkbox" class="mt5" id="isPartitionCheckedInput" onclick="isPartitionChecked(this)"></input> 
									<input class="form-control mt" id="isPartition"
										name="isPartition" type="hidden" value="否"></input>
								</div>
							</div>
							<fieldset>
								<legend>日表</legend>
								<div class="ui-form-group">
									<label class="control-label fleft"><span class="input-required">*</span>表名</label>
									<div class="control-input">
										<input class="form-control easyui-validatebox" required="true" placeholder="日表表名" v-model="dayTableName" id="dayTableName" name="dayTableName"
											type="text"></input>
									</div>
								</div>
								<div class="ui-form-group">
									<label class="control-label fleft"><span class="input-required">*</span>主键字段</label>
									<div class="control-input">
										<input class="form-control easyui-validatebox" required="true" placeholder="日表主键字段" v-model="dayMainColumn" id="dayMainColumn" name="dayMainColumn"
											type="text"></input>
									</div>
								</div>
								<div class="ui-form-group">
									<label class="control-label fleft">分区字段</label>
									<div class="control-input">
										<input class="form-control" placeholder="日表分区字段" v-model="dayPartitionColumn" id="dayPartitionColumn" name="dayPartitionColumn" type="text"></input>
									</div>
								</div>
							</fieldset>
							<fieldset class="mt10">
								<legend>月表</legend>
								<div class="ui-form-group">
									<label class="control-label fleft"><span class="input-required">*</span>表名</label>
									<div class="control-input">
										<input class="form-control easyui-validatebox" required="true" placeholder="月表表名" v-model="monthTableName" id="monthTableName" name="monthTableName"
											type="text"></input>
									</div>
								</div>
								<div class="ui-form-group">
									<label class="control-label fleft"><span class="input-required">*</span>主键字段</label>
									<div class="control-input">
										<input class="form-control easyui-validatebox" required="true" placeholder="月表主键字段" v-model="monthMainColumn" id="monthMainColumn"
											name="monthMainColumn" type="text"></input>
									</div>
								</div>
								<div class="ui-form-group">
									<label class="control-label fleft">分区字段</label>
									<div class="control-input">
										<input class="form-control" placeholder="月表分区字段" v-model="monthPartitionColumn" id="monthPartitionColumn" name="monthPartitionColumn" type="text"></input>
									</div>
								</div>
							</fieldset>
							<div class="ui-form-group mt10">
								<label class="control-label fleft">其他字段</label>
								<div class="control-input">
									<input class="form-control" placeholder="其他字段" v-model="otherColumn" id="otherColumn" name="otherColumn" type="type"></input>
								</div>
							</div>
						</div>
					</div>
					<fieldset>
						<legend>组织字段名称</legend>
						<div class="ui-reg-grid mt10 ml10 mr10">
							<div class=" ui-table-title mt10">
								<table id="myjqgrid" class="table"></table>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</body>
</html>