<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>新增专区</title>
<!--[if IE]>
    	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <![endif]-->
<link rel="stylesheet" theme="default" href="../../asset/css/theme/default/coc_frame.css" />
<link rel="stylesheet" theme="default" href="../../asset/css/theme/default/main.css" />
<script type="text/javascript" src="../../asset/script/common/include.js"></script>
<script type="text/javascript" src="prefecture_add.js"></script>
<style type="text/css">
[v-cloak] {
	display: none;
}
</style>
<!--[if lt IE 9]>
	    <script src="../../asset/script/component/h5compatibility/html5shiv.min.js"></script>
	    <script src="../../asset/script/component/h5compatibility/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<div id="dataD" class="iframe-nest" v-cloak>
		<div class="ui-reg-main">
			<div class="ui-lc-mian">
				<form id="saveDataForm">
					<input type="hidden" v-model="configId" id="configId" name="configId" />
					<div class="ui-reg-search">
						<div class="form-horizontal ui-form dimtable-table">
							<div class="ui-form-group">
								<label class="control-label fleft">专区名称</label>
								<div class="control-input">
									<input v-model="sourceName" name="sourceName" type="text"  class="fleft form-control easyui-validatebox"
									required="true"	placeholder="专区名称" />
								</div>
							</div>
							<div class="ui-form-group">
									<label class="control-label fleft">专区类型</label>
									<div class="control-input">
										<ul>
											<li class="radio circle success ml10" v-for="z in zqlxList" style="display: inline">
												<input class="easyui-validatebox" :value="z.orgType" :id="'type'+z.orgType" onclick="changeStatus(this)"
												name="dataAccessType" type="radio" required="true"/>
												<label  for="myr4"><i class="default"></i><span>{{z.fullName}}</span></label>
											</li>
										</ul>
									</div>
							</div>
							<div class="ui-form-group">
								<div v-if="showHyx==true" class="form-group">
									<label class="control-label fleft">行业线</label> 
									<div class="control-input">
										<select id="orgId2" required="true" name="orgId" class="form-control input-pointer easyui-validatebox" >
											<option value="1">请选择行业线</option>
											<option v-for="h in hyxList" :value="h.orgCode">{{h.fullName}}</option>
										</select>
									</div>
								</div>
								<div v-if="showCpx==true" class="ui-form-group">
									<label class="control-label fleft">业务线</label> 
									<div class="control-input">
										<select required="true" id="orgId1" name="orgId" class="form-control input-pointer easyui-validatebox" >
											<option value="1" required="true" class="easyui-validatebox">请选择业务线</option>
											<option v-for="c in cpxList" :value="c.orgCode">{{c.fullName}}</option>
										</select>
									</div>
								</div>
							</div>
							<div class="ui-form-group">
								<label class="control-label fleft" for="invalidTime">失效时间</label> 
								<div class="control-input">
									<input name="invalidTime" type="text"
									required="true"	class="form-control input-pointer easyui-validatebox" data-dismiss="formDatepicker#sendTime" id="invalidTime" placeholder="请选择失效日期" />
								</div>
							</div>
							<div class="ui-form-group">
								<label class="control-label fleft" for="configDesc">专区描述</label>
								<div class="control-input">
									<textarea required="true" v-model="configDesc" name="configDesc" class="form-control easyui-validatebox"></textarea>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>