*.classpath
*.project
*.prefs
aibi-app-loc/.classpath
/target/
/.classpath
/.project
/.settings/
/.gitignore
*.rej
aibi-app-jauth/target/
aibi-tool-bd/.classpath
aibi-tool-bd/.project
aibi-tool-bd/.settings/
aibi-common/.classpath
aibi-common/.project
aibi-common/.settings/
aibi-app-loc/src/main/java/com/asiainfo/biapp/si/loc/base/Test.java
