<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>日期标签规则设置</title>
<!--[if IE]>
    	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <![endif]-->
	<link rel="stylesheet" theme="default" href="../../asset/css/theme/default/coc_frame.css" />
	<script type="text/javascript" src="../../asset/script/common/include.js"></script>
	<script type="text/javascript" src="dateValueSet.js"></script>
<style type="text/css">
[v-cloak] {
	display: none;
}
</style>
<!--[if lt IE 9]>
	    <script src="../../asset/script/component/h5compatibility/html5shiv.min.js"></script>
	    <script src="../../asset/script/component/h5compatibility/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<div id="numberValueSet" class="iframe-nest" v-cloak>
      	<div class="ui-lc-mian"> 
      		<form>
      			<h3>标签数据范围</h3>
      			<div class="form-horizontal mt20">
      				<div class="ui-form-group">
				        <div class="radio circle success fleft"> 
						   <input type="radio" name="radio19" id="myr3" v-model="rule.queryWay" value="1"> 
						   <label for="myr3"><i class="default"></i>日期范围</label>
						</div>
				        <div class="control-input">
					       	<div class='checkbox fleft'>
					       		<span class="file-up-name">开始时间</span>
							    <input id="mycheckbox2" type="text" class="form-control fleft mr10"  placeholder="输入下线" v-model="rule.startTime" 
							    	readonly="readonly" >
							</div>
					       	<div class='checkbox fleft'>
							    <input id="mycheckbox3" type="checkbox" class="checkbix" v-model="leftClosed" value="true">
							    <label aria-label="" role="checkbox" for="mycheckbox3" class="checkbix">
							    		<span class="large"></span>包含当前值
							    </label>
							</div>
							<div class='checkbox fleft mt10'>
								
								<span class="file-up-name">结束时间</span>
							    <input id="mycheckbox2" type="text" class="form-control fleft mr10" placeholder="输入上线" v-model="rule.endTime"
							    	readonly="readonly" >
							</div>
					       	<div class='checkbox fleft mt10'>
							     <input id="mycheckbox4" type="checkbox" class="checkbix" v-model="rightClosed" value="true">
							    <label aria-label="" role="checkbox" for="mycheckbox4" class="checkbix">
							    		<span class="large"></span>包含当前值
							    </label>
							</div>
							<div class='checkbox fleft mt10'>
							     <input id="mycheckbox4" type="checkbox" class="checkbix" v-model="rightClosed" value="true">
							    <label aria-label="" role="checkbox" for="mycheckbox4" class="checkbix">
							    		<span class="large"></span>按此日期动态偏移1个周期
							    </label>
							</div>
				   		 </div>
				    </div>
					<div class="ui-form-group">
				        <div class="radio circle success fleft"> 
						   <input type="radio" name="radio19" id="myr3" v-model="rule.queryWay" value="2"> 
						   <label for="myr3"><i class="default"></i> 精确值</label>
						</div>
				        <div class="control-input ml10">
					       	<div class='checkbox'>
							    <input id="mycheckbox2" type="text" class="form-control fleft mr10" v-model="rule.exactValue">
							    <span class="file-up-name fleft" v-model="rule.unit"></span>
							</div>
					       	<p class="mt10">多条件用","分割,且不能用","结尾</p>
							
				   		 </div>
				    </div>
				      						      		
      			</div>
				
      		</form>
               
        </div>
    </div>     
</body>
</html>