<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>枚举标签规则设置</title>
<!--[if IE]>
    	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <![endif]-->
	<link rel="stylesheet" theme="default" href="../../asset/css/theme/default/coc_frame.css" />
	<link rel="stylesheet" theme="default" href="../../asset/css/theme/default/main.css" />
	<script type="text/javascript" src="../../asset/script/common/include.js"></script>
	<script type="text/javascript" src="enumItemSet.js"></script>
<style type="text/css">
[v-cloak] {
	display: none;
}
</style>
<!--[if lt IE 9]>
	    <script src="../../asset/script/component/h5compatibility/html5shiv.min.js"></script>
	    <script src="../../asset/script/component/h5compatibility/respond.min.js"></script>
    <![endif]-->
</head>
<body>
		
	<!-- 计算中心弹框 -->
	<div id="enumItemSet" class="iframe-nest" v-cloak>
		<div class="iframe-dialog">
		    <div class="clearfix ui-enum-content">
		        <div class="fleft">
		            <div class="ui-enum-list">
		                <div class="ui-enum-header clearfix">
		                    <span></span>
		                    <span onclick="enumRule.addAllItem();">全部添加</span>
		                    <div class="form-group fright">
		                        <div class="input-group">
		                            <input type="text" class="form-control" placeholder="搜索" v-model="dimValueSearch">
		                            <div class="input-group-addon input-group-icon right-child" onclick="enumRule.search()"></div>
		                        </div>
		                    </div>
		                </div>
		                <div class="ui-table-static mt10">
			                <table id="mainGrid" class="table"></table>
							<div id="mainGridPager"></div>
						</div>
		            </div>
		        </div>
		        <div class="fleft">
		            <div class="ui-enum-header">
		                <span>已选{{itemChooseCount}}个</span>
		                <span onclick="enumRule.delAllItem();">全部取消</span>
		                <div class="form-group fright">
		                    <div class="input-group">
		                        <input type="text" class="form-control" placeholder="搜索" v-model="itemChooseSearch">
		                        <div class="input-group-addon input-group-icon right-child" onclick="enumRule.searchChoose()"></div>
		                    </div>
		                </div>
		            </div>
		            <ul class="ui-enum-item" id="addItemDetailBox">
		                <li v-for="(item,index) in itemChooseList" v-bind:index="index">
		                    <span class="del-btn">{{item.dimValue}}
		                         <i class="del-btn-icon" onclick="enumRule.delItem(this)"></i>
		                    </span>
		                </li>
		            </ul>
		        </div>
		    </div>
		</div>
	</div>
</body>
</html>