<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>运行监控总览</title>
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <![endif]-->
    <link href="../../asset/css/common/reset.css" rel="stylesheet"  />
    <link href="../../asset/script/component/tree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet"  />
    <link href="../../asset/css/theme/default/button.css" rel="stylesheet"  />
    <link href="../../asset/css/theme/default/form.css" rel="stylesheet"  />
    <link href="../../asset/css/theme/default/tab.css" rel="stylesheet"  />
    <link href="../../asset/css/theme/default/coc_frame.css" rel="stylesheet"  />
    <link href="../../asset/css/theme/default/main.css" rel="stylesheet"  />
    <script type="text/javascript" src="../../asset/script/component/jquery-1.12.4.js"></script>
	<script type="text/javascript" src="../../asset/script/component/jQueryUI/jquery-ui-1.12.1.min.js"></script>
    <script type="text/javascript" src="../../asset/script/component/tree/jquery.ztree.all.min.js"></script>

    <!--
        H5兼容js CSS3 兼容JS
    -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="iframe-nest">
      	<div class="ui-lc-mian">
      		<h3>运行监控明细</h3>
      	</div>
      	<div class="ui-lc-mian mt10 ui-prefecture">
      		<div class="ui-pre-detail clearfix">
				<select class="ml10" @change="getCycle($event)" v-model='readCycle'>
				 	<option value="1">日周期</option>
				 	<option value="2">月周期</option>
    			</select>
				<em></em>
	        	<div class="control-input has-icon">
		           <input type="text"  readonly="readonly"
		           	class="form-control input-pointer date-input" >
		           <span class="glyphicon-select form-control-feedback"></span>
		        </div> 
		        
	      		<div class="ui-fresh-box">
	                <span class="refresh-key">数据刷新频率:</span>
	                <div class="form-group">
						<div class="control-input">
							 <select class="form-control input-pointer" id="refreshId" >
		                        <option v-for="d in sjsxplList">5s</option>
		                    </select>
		                   	 <!--<span>秒</span>-->
						</div>						
					</div>
               </div>
				<h3 class="pre fright">
					<div class="dropdown open">
				    	<a href = "javascript:;" class="dropdown-toggle">
				    		思特奇专区
				    		<span class="caret"></span>
				    	</a>
				    	<ul class="dropdown-menu">
					       <li><a href="#">Action</a></li>
					       <li><a href="#">Another</a></li>
					       <li><a href="#">Something</a></li>
				        </ul>
				    </div>
				</h3>
	      	</div>
      	</div>
		<div class="ui-lc-mian mt10 ui-morior-border">
			<div class="ui-prefecture">
				<ul class="ui-label-list clearfix mt10">
					<li class="ui-prerecture-item">
						<div>
							<div class="per-header clearfix">
								<span class="fleft"><em class="data-ready"></em>数据准备</span>
								<p class="fright">
									<span>共<strong>30</strong>张源表  ，成功<strong>9</strong>个</span>
								</p>
							</div>
							<ul class="per-status ui-label-list mt30">
								<li>
									<span>未准备</span>
									<p>10</p>
								</li>
								<li>
									<span>准备完成</span>
									<p>9</p>
								</li>
								<li class="padding0">
									<span>抽取中</span>
									<p>1</p>
								</li>
								<li>
									<span>抽取完成</span>
									<p>7</p>
								</li>
								<li>
									<span>抽取失败</span>
									<p>7</p>
								</li>
							</ul>
						</div>
					</li>
					<li class="ui-prerecture-item">
						<div>
							<div class="per-header clearfix">
								<span class="fleft"><em class="label-build"></em>标签生成</span>
								<p class="fright">
									<span>共<strong>781</strong>个日标签 ，成功<strong>382</strong>个</span>
								</p>
							</div>
							<ul class="per-status ui-label-list mt30">
								<li>
									<span>成功</span>
									<p>382</p>
								</li>
								<li>
									<span>失败</span>
									<p>0</p>
								</li>
							</ul>
						</div>
					</li>
					<li class="ui-prerecture-item">
						<div>
							<div class="per-header clearfix">
								<span class="fleft"><em class="label-custom"></em>客户群生成</span>
								<p class="fright">
									<span>共<strong>30</strong>个日周期客户群 ，成功<strong>11</strong>个</span>
								</p>
							</div>
							<ul class="per-status ui-label-list mt30">
								<li>
									<span>待创建</span>
									<p>8</p>
								</li>
								<li>
									<span>创建中</span>
									<p>10</p>
								</li>
								<li class="padding0">
									<span>创建成功</span>
									<p>11</p>
								</li>
								<li>
									<span>预约</span>
									<p>0</p>
								</li>
								<li>
									<span>失败</span>
									<p>13</p>
								</li>
							</ul>
						</div>
					</li>
					<li class="ui-prerecture-item padding0">
						<div>
							<div class="per-header clearfix">
								<span class="fleft"><em class="label-custom"></em>客户群推送</span>
								<p class="fright">
									<span>共<strong>25</strong>个待推送的客户群 ，成功<strong>11</strong>个</span>
								</p>
							</div>
							<ul class="per-status ui-label-list mt30">
								<li>
									<span>推送成功</span>
									<p>8</p>
								</li>
								<li>
									<span>推送中</span>
									<p>0</p>
								</li>
								<li class="padding0">
									<span>推送失败</span>
									<p>7</p>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
    	<div class="ui-lc-mian mt10 ui-pre-progress">
			<span class="ui-pre-refresh ml20">数据准备<em></em></span>
			<span class="ui-pre-refresh ml10">标签生成<em></em></span>
			<span class="ui-pre-refresh ml10">客户群生成<em></em></span>
			<span class="ui-pre-refresh ml10">客户群推送</span>
    	</div>
    	<div class="ui-lc-mian mt10">
    		<h3 class="clearfix pre-jqgrid">
    			数据准备
    			<div class="ui-status">
    				<select onchange="changeDataPrepareTableByStatus(this)">
    				 	<option value="1">准备状态</option>
    				 	<option value="2">抽取状态</option>
    				 </select>
    				<span><em></em>&nbsp;准备完成</span>
    				<span><em></em>&nbsp;未准备</span>
    				<span><em></em>&nbsp;准备失败</span>
    			</div>
    			<div class="form-group fright width-210">
					<div class="input-group">
						<input name="configDesc" id="txt_name" type="text" class="form-control input-pointer" placeholder="" />
						<div class="input-group-addon input-group-icon right-child" id="btn_search"></div>			
					</div>						
										
				</div>
    		</h3>
    		<div class="ui-table-static mt10">
                <table id="jsonmap1"  class="table"></table>
                <div id="pjmap1"></div>
            </div>
    	</div>
    	<div class="ui-lc-mian mt30">
    		<h3 class="clearfix pre-jqgrid">
    			标签生成
    			<div class="ui-status">
    				<span>生成状态</span>
    				<span><em></em>&nbsp;完成</span>
    				<span><em></em>&nbsp;未开始</span>
    				<span><em></em>&nbsp;生成失败</span>
    			</div>
    			<div class="form-group fright width-210">
					<div class="input-group">
						<input name="configDesc" id="txt_name" type="text" class="form-control input-pointer" placeholder="" />
						<div class="input-group-addon input-group-icon right-child" id="btn_search"></div>			
					</div>						
										
				</div>
    		</h3>
    		<div class="ui-table-static mt10">
                <table id="jsonmap1"  class="table"></table>
                <div id="pjmap1"></div>
            </div>
    		<div class="catch-error">
    			<h3>异常信息</h3>
    			<span>点击上面的失败，展开显示异常的详情 ，不点击收起状态 </span>
    		</div>
    	</div>
    	<div class="ui-lc-mian mt10">
    		<h3 class="clearfix pre-jqgrid">
    			客户群生成
    			<div class="ui-status">
    				<span>生成状态</span>
    				<span><em></em>&nbsp;完成</span>
    				<span><em></em>&nbsp;未开始</span>
    				<span><em></em>&nbsp;生成失败</span>
    			</div>
    			<div class="form-group fright width-210">
					<div class="input-group">
						<input name="configDesc" id="txt_name" type="text" class="form-control input-pointer" placeholder="" />
						<div class="input-group-addon input-group-icon right-child" id="btn_search"></div>			
					</div>						
										
				</div>
    		</h3>
    		<div class="ui-table-static mt10">
                <table id="jsonmap1"  class="table"></table>
                <div id="pjmap1"></div>
            </div>
    	</div>
    	<div class="ui-lc-mian mt30">
    		<h3 class="clearfix pre-jqgrid">
    			客户群推送
    			<div class="ui-status">
    				<span>推送状态</span>
    				<span><em></em>&nbsp;完成</span>
    				<span><em></em>&nbsp;未开始</span>
    				<span><em></em>&nbsp;生成失败</span>
    			</div>
    			<div class="form-group fright width-210">
					<div class="input-group">
						<input name="configDesc" id="txt_name" type="text" class="form-control input-pointer" placeholder="" />
						<div class="input-group-addon input-group-icon right-child" id="btn_search"></div>			
					</div>						
										
				</div>
    		</h3>
    		<div class="ui-table-static mt10">
                <table id="jsonmap1"  class="table"></table>
                <div id="pjmap1"></div>
            </div>
    	</div>
    </div>      
</body>
</html>