@charset "utf-8"; 

.ui-dialog .ui-widget-header{
	border:0px;
	border-bottom: 1px solid #e9e9e9;
    background: #fff;
    color: #333;
    font-weight: bold;
}
.ui-dialog .ui-dialog-title{
	padding: 8px 0;
}
.ui-dialog .ui-button .ui-icon{
    background: url(./images/lc-icon.png) no-repeat -392px -80px;
    cursor: pointer;
}
.ui-dialog .ui-dialog-titlebar-close{
	background-color: transparent;
	border: 1px solid transparent;
}