/* 分页样式定义 */
.table-page-box {
	width: 100%;
	height: 60px;
	overflow: hidden;
	border-top: 1px solid #efefef;
	background: #fff;
}

.table-page-box>ol {
	float: right;
	height: 34px;
	margin: 13px 15px 0px 0;
	overflow: hidden;
}

.table-page-box>ol>li {
	float: left;
	height: 34px;
	line-height: 34px;
}

.table-page-box>ol>li a, .table-page-box>ol>li span {
	display: inline-block;
	text-align: center;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #666;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
}

.table-page-box>ol>li a.page-button {
	border: 1px solid #e8ebec;
	background: #fff;
}

.table-page-box>ol>li a.page-button:first-child {
	margin-left: 0px;
}

.table-page-box>ol>li a:hover {
	text-decoration: none;
	background-color: #eee;
	border-color: #ddd;
}

.table-page-box>ol>li span.current, .table-page-box>ol>li span.current:hover
	{
	background: #337ab7;
	color: #fff;
}

.table-page-box>ol>li.page-prev {
	padding-left: 1px;
}

.table-page-box>ol>li.page-prev span.current, .table-page-box>ol>li.page-next span.current
	{
	border: 1px solid #ddd;
	color: #777;
	background: #fff;
	cursor: not-allowed;
}

.tcdPageCode a {
	text-decoration: none;
}

.tcdPageCode a:hover {
	text-decoration: none;
}

.tcdPageCode {
	padding: 10px 20px;
	text-align: left;
	color: #ccc;
	text-align: center;
	float: right;
}

.tcdPageCode a ,.jumpPageNum{
	display: inline-block;
	display: inline-block;
	height: 25px;
	line-height: 25px;
	padding: 0 10px;
	border: 1px solid #efefef;
    background: #fff;
	margin: 0 2px;
	vertical-align: middle;
	border-radius: 4px;
}
.tcdPageCode a{
	color: #666;
}
.tcdPageCode a:HOVER{
	background: #009241;
	color: #fff !important;
}

.tcdPageCode a:hover ,.jumpPageNum:hover{
	text-decoration: none;
	border: 1px solid #009241;
	color:#fff;
}

.tcdPageCode span.current {
	display: inline-block;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    margin: 0 2px;
    color: #fff;
    background-color: #009241;
	border-radius: 4px;
    vertical-align: middle;
}

.tcdPageCode span.disabled {
	display: inline-block;
	height: 25px;
	line-height: 25px;
	padding: 0 10px;
	margin: 0 2px;
	color: #acacac;
	background: transparent;
	border: 1px solid transparent;
	border-radius: 0px;
	vertical-align: middle;
	cursor: not-allowed;
}
.totalPage{
	text-align: left;
    padding: 13px 10px 0;
    font-size: 14px;
    overflow: hidden;
    color: #454545;
}
.totalPage > select{
	margin: 0 15px !important;
}
.inputPageNum{
	padding: 17px;
	height: 25px;
	line-height: 25px;
	color: #454545;
}
.inputPageNum > input{
	width:25px;
	height: 22px;
	line-height: 22px;
	border: 1px solid #d9d9d9;
	border-radius: 2px;
	color: #222;
	margin:0 5px;
	border-radius: 4px;
	text-align:center;
}
