<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>运行监控总览</title>
    <link rel="stylesheet" theme="default" href="../../asset/css/common/reset.css"/> 
    <link rel="stylesheet" theme="default" href="../../asset/css/theme/default/coc_frame.css"/> 
	<link rel="stylesheet" theme="default" href="../../asset/css/theme/default/main.css"/> 
   	<script type="text/javascript" src="../../asset/script/common/include.js"></script>
   	<script type="text/javascript" src="service_monitor_main.js"></script>
   	<style type="text/css">
	[v-cloak] {
		display: none;
	}
	</style>
</head>
<body>
<div class="iframe-nest" id="monitorMain" >
	<div class="ui-lc-mian">
		<h3>运行监控总览<span class="ui-monitor-notice">超级管理员才会看到此页面，非超级管理员不显示这个页面，权限匹配</span></h3>
	</div>
	<!--动态生成每个专区信息 -->
	<div class="ui-lc-mian mt10">
		<ul class="ui-label-list">
			 <li class="ui-monitor-item" v-for="(item,index) in configData" v-cloak>
				<span :value="item.sourceName" :id="item.configId" @click="changeMonitorByDate" :class="{padding0 : (index+1)%3 ==0 }" class=" clearfix" >{{item.sourceName}}</span>
			</li> 
		</ul>
	</div>
	
	<!--动态生成每个专区监控总览信息-->
	<div  v-for="(item,index) in monitorData" v-cloak >
		<div class="ui-lc-mian mt10 ui-morior-border">
			<div class="ui-prefecture">
				<div>
					<h3>{{item.sourceName}}</h3>
					<input type="hidden" id="configId"  v-bind:value="item.configId" />
					<div class="dropdown pre-dropdown" v-bind:class="{open:item.isOpen}" :data-cycleId="item.configId">
						 <a class="prefectrue-span"  @click="showDate(item)" >
						        <span class="pre-cycle-name">
						        	日周期&nbsp;
						        </span>
						        <em></em>
						    	<!--<span class="caret"></span>-->
						 </a>
						<ul class="dropdown-menu">
							<li>
								<span @click="initDateByCycle">日周期 </span>
							</li>
							<li>
								<span @click="initDateByCycle">月周期</span>  
							</li>   
						</ul>
					</div>
				    
					<em></em>
					<!-- <div class="dropdown pre-dropdown" id="dateTime">
						   <a href="javascript:;" class="dropdown-toggle">
						        <span class="pre-date-name"></span>
						    	<span class="caret"></span>
						   </a>
					       <ul class="dropdown-menu">
					       </ul> 
				    </div> -->
					<!-- <span class="prefectrue-span" @click="changeMonitorByDate" :data-configId="item.configId">{{dataDate}}<em class="ml20"></em></span> -->
				</div>
				<ul class="ui-label-list clearfix mt10">
					<li class="ui-prerecture-item">
						<div>
							<div class="per-header clearfix">
								<span class="fleft"><em class="data-ready"></em>数据准备</span>
								<p class="fright">
									<span>共<strong>30</strong>张源表  ，成功<strong>{{item.extractSuccessCount}}</strong>个</span>
								</p>
							</div>
							<ul class="per-status ui-label-list mt30">
								<li>
									<span>未准备</span>
									<p>{{item.notPrepareCount}}</p>
								</li>
								<li>
									<span>准备完成</span>
									<p>{{item.preparedCount}}</p>
								</li>
								<li class="padding0">
									<span>抽取中</span>
									<p>{{item.extractingCount}}</p>
								</li>
								<li>
									<span>抽取完成</span>
									<p>{{item.extractSuccessCount}}</p>
								</li>
								<li>
									<span>抽取失败</span>
									<p>{{item.extractFailCount}}</p>
								</li>
							</ul>
						</div>
					</li>
			     	<li class="ui-prerecture-item">
						<div>
							<div class="per-header clearfix">
								<span class="fleft"><em class="label-build"></em>标签生成</span>
								<p class="fright">
									<span>共<strong>781</strong>个日标签 ，成功<strong>{{item.genSuccessCount}}</strong>个</span>
								</p>
							</div>
							<ul class="per-status ui-label-list mt30">
								<li>
									<span>成功</span>
									<p>{{item.genSuccessCount}}</p>
								</li>
								<li>
									<span>失败</span>
									<p>{{item.genFailCount}}</p>
								</li>
								<li>
									<span>客户群暂存数量</span>
									<p>{{item.curSaveCount}}</p>
								</li>
							</ul>
						</div>
					</li>
					<li class="ui-prerecture-item">
						<div>
							<div class="per-header clearfix">
								<span class="fleft"><em class="label-custom"></em>客户群生成</span>
								<p class="fright">
									<span>共<strong>30</strong>个日周期客户群 ，成功<strong>{{item.customSuccessCount}}</strong>个</span>
								</p>
							</div>
							<ul class="per-status ui-label-list mt30">
								<li>
									<span>待创建</span>
									<p>{{item.customPrepareCount}}</p>
								</li>
								<li>
									<span>创建中</span>
									<p>{{item.customCreatingCount}}</p>
								</li>
								<li class="padding0">
									<span>创建成功</span>
									<p>{{item.customSuccessCount}}</p>
								</li>
								<li>
									<span>预约</span>
									<p>{{item.customAppointCount}}</p>
								</li>
								<li>
									<span>失败</span>
									<p>{{item.customFailCount}}</p>
								</li>
							</ul>
						</div>
					</li>
					<li class="ui-prerecture-item padding0">
						<div>
							<div class="per-header clearfix">
								<span class="fleft"><em class="label-custom"></em>客户群推送</span>
								<p class="fright">
									<span>共<strong>25</strong>个待推送的客户群 ，成功<strong>{{item.pushSuccessCount}}</strong>个</span>
								</p>
							</div>
							<ul class="per-status ui-label-list mt30">
								<li>
									<span>推送成功</span>
									<p>{{item.pushSuccessCount}}</p>
								</li>
								<li>
									<span>推送中</span>
									<p>{{item.pushingCount}}</p>
								</li>
								<li class="padding0">
									<span>推送失败</span>
									<p>{{item.pushFailCount}}</p>
								</li>
							</ul>
						</div>
					</li>
				</ul> 
			</div>
		</div>
	</div>
</div>
</body>
</html>