<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>运行监控总览</title>
    <link rel="stylesheet" theme="default" href="../../asset/css/theme/default/coc_frame.css"/> 
	<link rel="stylesheet" theme="default" href="../../asset/css/theme/default/main.css"/> 
    <link rel="stylesheet" theme="default" href="../../asset/css/common/reset.css"/> 
   	<script type="text/javascript" src="../../asset/script/common/include.js"></script>
   	<script type="text/javascript" src="service_monitor_detail.js"></script>
   	<script type="text/javascript" src="monitor_table_dataprepare.js"></script>
   	<script type="text/javascript" src="monitor_table_labelgenerate.js"></script>
   	<script type="text/javascript" src="monitor_table_customgenerate.js"></script>
   	<script type="text/javascript" src="monitor_table_custompush.js"></script>
   	<script type="text/javascript" src="DateFmt.js"></script>
   	<style type="text/css">
	[v-cloak] {
		display: none;
	}
	</style>
</head>
<body>
    <div class="iframe-nest" name="monitorDetail">
      	<div class="ui-lc-mian">
      		<h3 class="pre">
      			<span>运行监控明细</span>
      		</h3>
      	</div>
      	<div id="monitorDetail" v-cloak>
	      	<div class="ui-lc-mian mt10 ui-prefecture">
	      		<div class="ui-pre-detail clearfix">
		      		 <select class="ml10" @change="getCycle($event)" v-model='readCycle' id="readCycle">
					 	<option value="1">日周期</option>
					 	<option value="2">月周期</option>
	    			</select>
					<em></em>
		        	<div class="control-input has-icon mr10">
			           <input type="text"  readonly="readonly" @mousedown="getTime"
			           	class="form-control input-pointer date-input" :value="serviceMonitorObj.dataDate">
			           <span class="glyphicon-select form-control-feedback"></span>
			        </div> 
			        
		      		<div class="ui-fresh-box ml20">
		                <span class="refresh-key ml20">数据刷新频率:</span>
		                <div class="form-group">
							<div class="control-input">
								 <select class="form-control input-pointer" id="refreshId" >
			                        <option v-for="d in sjsxplList" @change="refresh(d.code)" :value="d.code">{{d.dataName}}秒</option>
			                    </select>
							</div>						
						</div>
	               </div>
	               
		      	</div>
	      	</div>
			<div class="ui-lc-mian mt10 ui-morior-border" >
				<div class="ui-prefecture">
					<ul class="ui-label-list clearfix mt10 anchors-list">
						<li class="ui-prerecture-item">
							<div>
								<div class="per-header clearfix">
									<span class="fleft scroll-anchors"><em class="data-ready"></em><a href="javascript:;">数据准备</a></span>
									<p class="fright">
										<span>共<strong>{{serviceMonitorObj.notPrepareCount + serviceMonitorObj.preparedCount}}</strong>张源表  ，
										成功<strong>{{serviceMonitorObj.extractSuccessCount}}</strong>个</span>
									</p>
								</div>
								<ul class="per-status ui-label-list mt30">
									<li>
										<span>未准备</span> 
										<p>{{serviceMonitorObj.notPrepareCount}}</p>
									</li>
									<li>
										<span>准备完成</span>
										<p>{{serviceMonitorObj.preparedCount}}</p>
									</li>
									<li class="padding0">
									    <span>未抽取</span>
									    <p>{{serviceMonitorObj.notExtractCount}}</p>
								    </li>
									<li>
										<span>抽取中</span>
										<p>{{serviceMonitorObj.extractingCount}}</p>
									</li>
									<li>
										<span>抽取完成</span>
										<p>{{serviceMonitorObj.extractSuccessCount}}</p>
									</li>
									<li>
										<span>抽取失败</span>
										<p>{{serviceMonitorObj.extractFailCount}}</p>
									</li>
								</ul>
							</div>
						</li>
						<li class="ui-prerecture-item">
							<div>
								<div class="per-header clearfix">
									<span class="fleft scroll-anchors"><em class="label-build"></em><a href="javascript:;">标签生成</a></span>
									<p class="fright">
										<span>共<strong>{{serviceMonitorObj.genSuccessCount + serviceMonitorObj.genFailCount}}</strong>个 ，
										成功<strong>{{serviceMonitorObj.genSuccessCount}}</strong>个</span>
									</p>
								</div>
								<ul class="per-status ui-label-list mt30">
									<li>
										<span>成功</span>
										<p>{{serviceMonitorObj.genSuccessCount}}</p>
									</li>
									<li>
										<span>失败</span>
										<p>{{serviceMonitorObj.genFailCount}}</p>
									</li>
								</ul>
							</div>
						</li>
						<li class="ui-prerecture-item">
							<div>
								<div class="per-header clearfix">
									<span class="fleft scroll-anchors"><em class="label-custom"></em><a href="javascript:;">客户群生成</a></span>
									<p class="fright">
										<span>共<strong>{{serviceMonitorObj.customPrepareCount + serviceMonitorObj.customCreatingCount +serviceMonitorObj.customSuccessCount +serviceMonitorObj.customAppointCount +serviceMonitorObj.customFailCount}}</strong>个 ，
										成功<strong>{{serviceMonitorObj.customSuccessCount}}</strong>个</span>
									</p>
								</div>
								<ul class="per-status ui-label-list mt30">
									<li>
										<span>待创建</span>
										<p>{{serviceMonitorObj.customPrepareCount}}</p>
									</li>
									<li>
										<span>创建中</span>
										<p>{{serviceMonitorObj.customCreatingCount}}</p>
									</li>
									<li class="padding0">
										<span>创建成功</span>
										<p>{{serviceMonitorObj.customSuccessCount}}</p>
									</li>
									<li>
										<span>预约</span>
										<p>{{serviceMonitorObj.customAppointCount}}</p>
									</li>
									<li>
										<span>失败</span>
										<p>{{serviceMonitorObj.customFailCount}}</p>
									</li>
								</ul>
							</div>
						</li>
						<li class="ui-prerecture-item padding0">
							<div>
								<div class="per-header clearfix">
									<span class="fleft scroll-anchors"><em class="label-custom"></em><a href="javascript:;">客户群推送</a></span>
									<p class="fright">
										<span>共<strong>{{serviceMonitorObj.pushSuccessCount + serviceMonitorObj.pushingCount + serviceMonitorObj.pushFailCount}}</strong>个 ，
										成功<strong>{{serviceMonitorObj.pushSuccessCount}}</strong>个</span>
									</p>
								</div>
								<ul class="per-status ui-label-list mt30">
									<li>
									<span>等待推送</span>
									<p>{{serviceMonitorObj.pushWaitCount}}</p>
								</li>
								<li>
									<span>推送成功</span>
									<p>{{serviceMonitorObj.pushSuccessCount}}</p>
								</li>
								<li>
									<span>推送中</span>
									<p>{{serviceMonitorObj.pushingCount}}</p>
								</li>
								<li >
									<span>推送失败</span>
									<p>{{serviceMonitorObj.pushFailCount}}</p>
								</li>
								<li class="padding0">
									<span>其他</span>
									<p>{{serviceMonitorObj.notPushCount}}</p>
								</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</div>
	    	<div class="ui-lc-mian mt10 ui-pre-progress">
				<a class="ui-pre-refresh ml20" >数据准备<em></em></a>
				<a class="ui-pre-refresh ml10" >标签生成<em></em></a>
				<a class="ui-pre-refresh ml10" >客户群生成<em></em></a>
				<a class="ui-pre-refresh ml10" >客户群推送</a>
	    	</div>
	    	<div class="ui-lc-mian mt20 scrollBox" id="dataPrepareAnchor">
	    		<h3 class="clearfix pre-jqgrid">
	    			数据准备
	    			<div class="ui-status" id="sjzbList">
	    				 <select onchange="changeDataPrepareTableByStatus(this)">
	    				 	<option value="1">准备状态</option>
	    				 	<option value="2">抽取状态</option>
	    				 </select>
	    				 <span class='checkbox'>
						    <input id="sjzbAll" type="checkbox" class="checkbix" checked="checked"  onclick="selectAllDataPrepareStatus(this)">
						    <label role="checkbox" for="sjzbAll" class="checkbix">
						    		<span class="large all-select"></span>全部
						    	</label>
						</span>
	    				<div class="control-input" id="zbList">
					       	<span class='checkbox' v-for="(d,index) in sjzbList">
							    <input :id="'type'+d.code+index" type="checkbox" name="zbbox" class="checkbix" checked="checked" :value="d.code"  onclick="qryDataPrepareTableByCond();">
							    <label role="checkbox"  v-if="d.code==0" :for="'type'+d.code+index" class="checkbix">
						    		<span class="large unStart"></span>{{d.dataName}}
						    	</label>
						    	<label role="checkbox"  v-if="d.code==1" :for="'type'+d.code+index" class="checkbix">
						    		<span class="large success"></span>{{d.dataName}}
						    	</label>
							</span>
				   		 </div>
						<div class="control-input" id="cqList">
					       	<span class='checkbox' v-for="(d,index) in sjcqList">
							    <input :id="'typeid'+d.code+index" type="checkbox" name="cqbox" class="checkbix" checked="checked" :value="d.code"  onclick="qryDataPrepareTableByCond();">
							    <label role="checkbox" v-if="d.code==0" :for="'typeid'+d.code+index" class="checkbix">
						    		<span class="large progress"></span>{{d.dataName}}
						    	</label>
						    	<label role="checkbox" v-if="d.code==1" :for="'typeid'+d.code+index" class="checkbix">
						    		<span class="large success"></span>{{d.dataName}}
						    	</label>
						    	<label role="checkbox" v-if="d.code==2" :for="'typeid'+d.code+index" class="checkbix">
						    		<span class="large fail"></span>{{d.dataName}}
						    	</label>
						    	<label role="checkbox" v-if="d.code==3" :for="'typeid'+d.code+index" class="checkbix">
						    		<span class="large unStart"></span>{{d.dataName}}
						    	</label>
							</span>
				   		 </div>
	    			</div>
	    			<form id="formSearch-dataPrepare" class="form-group fright width-210" onkeyup="dataSearchKey(event)">
						<div class="input-group">
							<input name="sourceTableName" id="sourceTableName" type="text" class="form-control input-pointer" placeholder="请输入表名"/>
							<input id='hiddeninput' type="text" style="display:none" /> 
							<div class="input-group-addon input-group-icon right-child" id="btn_search_data" data-tableId="dataPrepareTable" data-formSearchId="formSearch-dataPrepare" onclick="qryDataPrepareTableByCond()"></div>			
						</div>						
					</form>
	    		</h3>
	    		<div class="ui-table-static mt10">
	                <table id="dataPrepareTable"  class="table"></table>
	                <div id="dataPreparePager"></div>
	            </div>
	    	</div>
	    	<div class="ui-lc-mian mt20 scrollBox" id="labelGenerateAnchor">
	    		<h3 class="clearfix pre-jqgrid">
	    			标签生成
	    			<div class="ui-status">
	    				<span>生成状态</span>
	    				<span class='checkbox'>
						    <input id="bqscAll" type="checkbox" class="checkbix" checked="checked"  onclick="selectAllLabelGenerateStatus(this)">
						    <label role="checkbox" for="bqscAll" class="checkbix">
					    		<span class="large all-select"></span>全部
					    	</label>
						</span>
	    				<span class='checkbox' v-for="(d,index) in bqscList">
						    <input :id="'typelabel'+d.code+index" type="checkbox" class="checkbix" checked="checked"
						    	 :value="d.code"  onclick="qryLabelGenerateTableByCond();">
						    <label role="checkbox"  v-if="d.code==0" :for="'typelabel'+d.code+index" class="checkbix">
					    		<span class="large fail"></span>{{d.dataName}}
					    	</label>
					    	<label role="checkbox"  v-if="d.code==1" :for="'typelabel'+d.code+index" class="checkbix">
					    		<span class="large success"></span>{{d.dataName}}
					    	</label>
					    	<label role="checkbox"  v-if="d.code==2" :for="'typelabel'+d.code+index" class="checkbix">
					    		<span class="large ready"></span>{{d.dataName}}
					    	</label>
						</span>
	    			</div>
	    			<div id="formSearch-labelGenerate" class="form-group fright width-210" onkeyup="labelSearchKey(event)">
						<div class="input-group">
							<input name="labelName" id="labelGenerateName"  type="text" class="form-control input-pointer" placeholder="请输入标签名称" />
							<div class="input-group-addon input-group-icon right-child" id="btn_search_label"  onclick="qryLabelGenerateTableByCond();"></div>			
						</div>						
					</div>
	    		</h3>
	    		<div class="ui-table-static mt10">
	                <table id="labelGenerateTable"  class="table"></table>
	                <div id="labelGeneratePager"></div>
	            </div>
	    		<div class="catch-error" id="catchError"  style="display: none;">
	    			<h3>异常信息</h3>
	    			<span></span>
	    		</div>
	    	</div>
	    	<div class="ui-lc-mian mt20 scrollBox" id="customGenerateAnchor">
	    		<h3 class="clearfix pre-jqgrid">
	    			客户群生成
	    			<div class="ui-status">
	    				<span>生成状态</span>
	    				<span class='checkbox'>
						    <input id="khqscAll" type="checkbox" class="checkbix" checked="checked"  onclick="selectAllCustomGenerateStatus(this)">
						    <label role="checkbox" for="khqscAll" class="checkbix">
					    		<span class="large all-select"></span>全部
					    	</label>
						</span>
	    				<span class='checkbox' v-for="(d,index) in khqscList">
						    <input :id="'typecustom'+d.code+index" type="checkbox" name="zbbox" class="checkbix" checked="checked" :value="d.code"  onclick="qryCustomGenerateTableByCond();">
						    <label role="checkbox"  v-if="d.code==0" :for="'typecustom'+d.code+index" class="checkbix">
					    		<span class="large fail"></span>{{d.dataName}}
					    	</label>
					    	<label role="checkbox"  v-if="d.code==1" :for="'typecustom'+d.code+index" class="checkbix">
					    		<span class="large unStart"></span>{{d.dataName}}
					    	</label>
					    	<label role="checkbox"  v-if="d.code==2" :for="'typecustom'+d.code+index" class="checkbix">
					    		<span class="large progress"></span>{{d.dataName}}
					    	</label>
					    	<label role="checkbox"  v-if="d.code==3" :for="'typecustom'+d.code+index" class="checkbix">
					    		<span class="large success"></span>{{d.dataName}}
					    	</label>
						</span>
	    			</div>
	    			<div id="formSearch-customGenerate" class="form-group fright width-210" onkeyup="customSearchKey(event)">
						<div class="input-group">
							<input name="labelName" id="customGenerateName" type="text" class="form-control input-pointer" placeholder="请输入客户群名称" />
							<div class="input-group-addon input-group-icon right-child" id="btn_search_custom" onclick="qryCustomGenerateTableByCond();"></div>			
						</div>						
					</div>
	    		</h3>
	    		<div class="ui-table-static mt10">
	                <table id="customGenerateTable"  class="table"></table>
	                <div id="customGeneratePager"></div>
	            </div>
	            <div class="catch-error" id="customGenerateError"  style="display: none;">
	    			<h3>异常信息</h3>
	    			<span></span>
	    		</div>
	    	</div>
			<div class="ui-lc-mian mt20 scrollBox" id="customPushAnchor">
     			<h3 class="clearfix pre-jqgrid">
    			客户群推送
    			<div class="ui-status">
    				<span>推送状态</span>
    				<span class='checkbox'>
					    <input id="khqtsAll" type="checkbox" class="checkbix" checked="checked"  onclick="selectAllCustomPushStatus(this)">
					    <label role="checkbox" for="khqtsAll" class="checkbix">
				    		<span class="large all-select"></span>全部
				    	</label>
					</span>
					<span class='checkbox push-status' v-for="(d,index) in khqtsList">
					    <input :id="'typepush'+d.code+index" type="checkbox" class="checkbix" checked="checked" :value="d.code"  onclick="qryCustomPushTableByCond();">
					    <label role="checkbox"  v-if="d.code==1" :for="'typepush'+d.code+index" class="checkbix">
				    		<span class="large unStart"></span>{{d.dataName}}
				    	</label>
				    	<label role="checkbox"  v-if="d.code==2" :for="'typepush'+d.code+index" class="checkbix">
				    		<span class="large progress "></span>{{d.dataName}}
				    	</label>
				    	<label role="checkbox"  v-if="d.code==3" :for="'typepush'+d.code+index" class="checkbix">
				    		<span class="large success"></span>{{d.dataName}}
				    	</label>
				    	<label role="checkbox"  v-if="d.code==4" :for="'typepush'+d.code+index" class="checkbix">
				    		<span class="large fail"></span>{{d.dataName}}
				    	</label>
					</span>
					<span class='checkbox push-status'>
					    <input id="0" type="checkbox" class="checkbix" checked="checked" value="0" onclick="qryCustomPushTableByCond();">
				    	<label role="checkbox" for="0" class="checkbix">
				    		<span class="large other"></span>其他
				    	</label>
					</span>
    			</div>
				<div id="formSearch-customPush" class="form-group fright width-210" onkeyup="customPushSearchKey(event)">
					<div class="input-group">
						<input name="labelName" id="customPushName" type="text" class="form-control input-pointer" placeholder="请输入客户群名称" />
						<div class="input-group-addon input-group-icon right-child" id="btn_search_push"  onclick="qryCustomPushTableByCond();"></div>			
					</div>						
				</div>
    		</h3>
    		<div class="ui-table-static mt10">
                <table id="customPushTable"  class="table"></table>
                <div id="customPushPager"></div>
            </div>
            <div class="catch-error" id="customPushError"  style="display: none;">
	    			<h3>异常信息</h3>
	    			<span></span>
	    	</div>
	    	<div class="ui-grid-button clearfix mt20" id="returnBtn">
				<button onclick="history.back(-1)" type="button" class="ui-btn ui-btn-second">返回</button>
			</div>
    	</div>
    	</div>
    </div>      
</body>
</html>