<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>首页(暂未完成)</title>
    <!--[if IE]>
    	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <![endif]-->
    <link rel="stylesheet" theme="default" href="../../asset/css/common/reset.css"/> 
    <link rel="stylesheet" theme="default" href="../../asset/css/theme/default/coc_frame.css"/> 
	<link rel="stylesheet" theme="default" href="../../asset/css/theme/default/main.css"/> 
   	<script type="text/javascript" src="../../asset/script/common/include.js"></script>
   	<script type="text/javascript" src="frame.js"></script>
    <!--[if lt IE 9]>
	    <script src="../../asset/script/component/h5compatibility/html5shiv.min.js"></script>
	    <script src="../../asset/script/component/h5compatibility/respond.min.js"></script>
    <![endif]-->
</head>
<body>
 <div class="ui-header clearfix iframe">
 	<div class="ui-header-logo fleft">
 		<img src="../../asset/css/theme/default/images/logo.png"/>
 	</div>
 	<div class="ui-header-content fleft">
 		<div class="clearfix">
 			<div class="ui-header-search fleft">
		        <div class="control-input has-icon">
		          <input type="text" class="form-control" id="inputEmail4" placeholder="搜索" >
		          <span class="glyphicon-search form-control-feedback"></span>
		        </div>
 			</div>
 			<div class="ui-notice fright">
 				<i class="ui-help"></i>
 				<i class="ui-clock"></i>
 				<i class="ui-tag"></i>
 				<i class="ui-notice-icon">
 					<span>8</span>
 				</i>
 				<span class="ui-login-header dropdown" onclick="toggleDown(this)">
 					<img alt="" src="../../asset/images/timg.jpg" />
 					<em class="ui-user-info"></em>
 					<ul class="dropdown-menu">
				       <li><a href="#">Action</a></li>
			        </ul>
 				</span>
 			</div>
 		</div>
 	</div>
 </div>
 <div class="ui-container clearfix iframe">
 	<div class="ui-menu fleft">
 		<ul class="ui-menu-ul" id="accordion" style="display:none;">
				
			<li v-for="resource in resourceList">
 				<a v-if="resource.address" v-bind:href="'#'+resource.address" v-text="resource.resourceName">标签集市</a>
 				<a v-if="!resource.address" href="javascript:void(0);" v-text="resource.resourceName">标签集市</a>
 				
 				<div v-if="resource.children.length > 0">
 					<ul class="ui-menu-ul">
 						<li v-for="r in resource.children">
 							<a  v-bind:href="'#'+r.address" v-text="r.resourceName"></a>
 						</li>
 					</ul>
 				</div>
 			</li>
 				
 		</ul>
 	</div>
 	<div class="ui-main fleft">
		<div class="iframe">
			<iframe height="100%" frameborder="0"></iframe>
 		</div> 
	</div>
 </div>
</body>
</html>