@charset "utf-8"; 
/***
通用按钮
*/
.btn{
	display: inline-block;
    padding: 3px 8px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    color: #fff;
    background-color: #0294e9 ;
    cursor: pointer;
}
.btn >.caret {
   display: inline-block;
    width: 8px;
    height: 8px;
    margin-left: 4px;
    cursor: pointer;
}
/*****
*下拉菜单按钮
*/
.btn-group{
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.btn-group >.dropdown-btn >.caret {
    background: transparent url(../../images/button/button-bg.png) -10px -3px;
}
.btn-group.open >.dropdown-btn >.caret {
    background: transparent url(../../images/button/button-bg.png) -40px -3px;
}

.btn-group >.dropdown-menu {
    position: absolute;
    top: 100%;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 130px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
}
/* 下拉定位在左侧 默认是右侧 */
.btn-group.menu-left >.dropdown-menu{
	right:0 !important;
}
.btn-group.open >.dropdown-menu {
	display: block;
}
.dropdown-menu>li  {
     border-bottom: 1px dotted #b4b4b4;
     margin: 0 3px;
}
.dropdown-menu>li.last-child,/*兼容IE8*/
.dropdown-menu>li:LAST-CHILD  {
     border-bottom: 0px;;
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
/**
*查询按钮
*/
.search-btn{
	height: 24px;
}
.search-btn >.caret{
	margin: 0;
	background: transparent url(../../images/button/button-bg.png) -69px -5px;
    width: 16px;
    height: 12px;
}
/*****
*
*购物车按钮
*
****/
.create-cart-btn{
    background: #E30178;
	font-size: 14px;
}

/****
*取消按钮
*/
.cancel-btn{
    background: #ababab ;
    border-bottom: 1px solid #ababab;
    font-size: 14px;
    padding: 3px 12px;
}
/****
*确定类按钮
*/
.ensure-btn{
    font-size: 14px;
    padding: 3px 12px;
}
/***
*添加按钮、新增
*/
.icon-btn,.table-btn{
	color: #666;
    background-color: transparent ;
    height: 28px;
    line-height: 28px;
    padding: 0 6px 0 0;
    min-width: 64px;
    overflow: hidden;
}
a.icon-btn:HOVER{
	border-color: #ccc;
	 border-radius:3px; 
	 background: -moz-linear-gradient(top, #fff 0%, #dfdfdf 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#dfdfdf));
    background: -webkit-linear-gradient(top, #fff 0%,#dfdfdf 100%);
    background: -o-linear-gradient(top, #fff 0%,#dfdfdf 100%);
    background: -ms-linear-gradient(top, #fff 0%,#dfdfdf 100%);
    background: linear-gradient(to bottom, #fff 0%,#dfdfdf 100%);
}
a.icon-btn[disabled]:HOVER{
	background: transparent;
	border-color: transparent;
	border-radius:0px; 
}
.icon-btn > .caret,
.table-btn > .caret{
    width: 22px;
    height: 28px;
    float: left;
    background: transparent url(../../images/button/icon_btn.png) ;
}
.add-btn > .caret{
	background-position:  0px 1px;
}
/*导入*/
.import-btn > .caret{
	background-position:  0px -48px;
}
/*修改*/
.table-btn > .caret{
	background:transparent url(../../images/button/button-bg.png);
}
.alter-setting-btn > .caret{
	background-position:  -3px -99px;
}
.alter-btn > .caret{
	background-position:  -51px -32px;
}
/**停用*/
.outage-btn > .caret{
	background-position:  -3px -54px;
}
/**启用*/
.enabled-btn > .caret{
	background-position:  -3px -32px;
}
/**下线*/
.outline-btn > .caret{
	background-position:  -3px -74px;
}
/**删除*/
.del-btn > .caret{
	 background: transparent url(../../images/button/icon_btn.png) 2px -22px;
}
.del-btn[disabled] > .caret{
	 background: transparent url(../../images/button/button-bg.png) -111px -26px;
}
/**授权*/
.auth-btn > .caret{
	background-position:  -51px -98px;
}







