@charset "utf-8";
/* 表格上方的搜索栏 */
.common-table-search{background-color: #fafafa;border: 1px solid #d5d5d5;}
.common-table-search > ul > li{float: left;margin: 5px;height: 24px;line-height: 21px;}
.common-table-search .search-input{border: 1px solid #b0bdcb;background-color: #ffffff;width: 100px;height: 22px;line-height: 22px;padding-left: 5px;color: #8e8e8e;}
.querySel-box{width: 157px;height: 22px;line-height: 22px;border: 1px solid #b0bdcb;background-color: #ffffff;position: relative;z-index: 10;}
.querySel-box .sel-btn{display:inline-block;width:28px;height:22px;background:transparent url(../../images/header-nav/header-nav.png) no-repeat -26px -242px;border-left:1px solid #b0bdcb;}
.querySel-box .sel-btn:hover,
.querySel-box.open .sel-btn{border-left:1px solid #fff;background:#0194e9 url(../../images/header-nav/header-nav.png) no-repeat -26px  -174px;}
.querySel-box .sel-text{padding-left:5px;position:relative;top:-2px;}
.querySel-list{width:157px;position:absolute;border:1px solid #b0bdcb;border-top:none;background-color:#fff;top:21px;left:-1px;z-index: 99;display:none;}
.querySel-box.open .querySel-list{display:block;}
.querySel-list ol li{width:100%;text-indent: 5px;margin:2px 0;}
.querySel-list ol li a{display:block;color:#323232;text-decoration: none;}
.querySel-list ol li a:hover{background-color:#0194e9;color:#fff;}
/* 表格上方的工具栏 */
.common-table-tools{border-left: 1px solid #d5d5d5;border-right: 1px solid #d5d5d5;padding:5px 0;background:#fafafa;}
.common-table-tools li{float:left;padding:0 15px;background:url(../../images/table-bg.png) no-repeat -9px -32px;}
.common-table-tools li.first{background:none;}
/* 字符串超长省略号显示 */
.long-str-td{height: 22px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
/* 表格============= */
.common-table{table-layout: fixed;width:100%;}
.common-table th{
	border:1px solid #ccc; border-left:none; height:25px; line-height:25px;  padding:0 3px; font-weight:bold;text-align:center;
	background:#dfdfdf;
	background: -moz-linear-gradient(top, #fff 0%, #dfdfdf 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#dfdfdf));
    background: -webkit-linear-gradient(top, #fff 0%,#dfdfdf 100%);
    background: -o-linear-gradient(top, #fff 0%,#dfdfdf 100%);
    background: -ms-linear-gradient(top, #fff 0%,#dfdfdf 100%);
    background: linear-gradient(to bottom, #fff 0%,#dfdfdf 100%);
}
.common-table th{cursor: pointer;margin:0px;}
.common-table th span.sort{display:inline-block; *display:inline; zoom:1; width:15px;height:25px;background: url(../../images/table-bg.png) no-repeat -5px -3px;cursor: pointer; overflow:hidden; vertical-align:middle;}
.common-table th.sort-up span.sort{background-position:-20px -3px;}
.common-table th.sort-down span.sort{background-position: -35px -3px;}
.common-table .noborder{border-right:none;}
.common-table td{padding:10px 5px; background:#fff; border-bottom:1px dotted #c2bdbd; text-align:center; word-break:break-all;}
.common-table td a{text-decoration:none;color:#000}
.common-table .even td{background:#fff;}
.common-table .odd td{background:#fafafa;}
.common-table tr.last td{border-bottom:none;}
.common-table tr:hover td{background:#74b6ec; color:#fff;}
.common-table tr:hover td a{color:#fff;text-decoration:underline;}
.common-table td.text-right{text-align:right;}
.common-table td.text-left{text-align:left;}

