<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>标签集市</title>
<link rel="stylesheet" theme="default"
	href="../../asset/css/theme/default/coc_frame.css" />
<link rel="stylesheet" theme="default"
	href="../../asset/css/theme/default/main.css" />
<script type="text/javascript"
	src="../../asset/script/common/include.js"></script>
<script type="text/javascript" src="dimtable_add.js"></script>
<!--[if lt IE 9]>
	    <script src="../../asset/script/component/h5compatibility/html5shiv.min.js"></script>
	    <script src="../../asset/script/component/h5compatibility/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<div  id="dataD" class="iframe-nest" v-cloak >
		<div class="ui-lc-mian">
			<form id="saveDataForm">
				<input type="hidden" id="dimId" name="dimId"  v-model="dimId"/>
				<div class="clearfix">
					<div class="form-group ml30">
						<label class="fleft mt5" for="exampleInputEmail3">*&nbsp;表名:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
						<div class="control-input ml20 has-icon">
							<input name="dimTableName" type="text" class="form-control " v-model="dimTableName"
								id="dimTableName" maxlength="28" placeholder="请输入表名" />
						</div>
					</div>
				</div>
				<div class="clearfix">
					<div class="form-group ml30 mt20">
						<label class="fleft mt5 " for="exampleInputEmail3">*主键类型:</label>
						<div class="control-input  ml20 has-icon">
							<select name="codeColType" class="form-control" dicCode="ZDLXZD"
								id="codeColType" v-model="codeColType">
							</select>
						</div>
					</div>
				</div>
				<div class="clearfix">
					<div class="form-group ml30 mt20">
						<label class="fleft mt5" for="exampleInputEmail3">主键字段名:</label>
						<div class="control-input has-icon ml10">
							<input name="dimCodeCol" type="text" class="form-control "
								id="dimCodeCol" maxlength="28" placeholder="请输入主键字段名" v-model="dimCodeCol"/> <span
								id="dimCodeColTxtTip" class="fleft columnGreenTip"
								title="主键字段名只能以英文字母开头,包含数字、字母、下划线">?</span>
						</div>
					</div>
				</div>
				<div class="clearfix">
					<div class="form-group ml30 mt20">
						<label class="fleft mt5" for="exampleInputEmail3">描述字段名:</label>
						<div class="control-input has-icon ml10">
							<input name="dimValueCol" type="text" class="form-control " v-model="dimValueCol"
								id="dimValueCol" maxlength="28" placeholder="请输入描述字段名" /> <span
								id="dimCodeColTxtTip" class="fleft columnGreenTip"
								title="主键字段名只能以英文字母开头,包含数字、字母、下划线">?</span>
						</div>
					</div>
				</div>
				<div class="clearfix" id="dataFile">
					<div class="form-group ml30 mt20">
						<label class="fleft mt5" for="exampleInputEmail3">数据文件:</label>
					</div>
					<div class="form-group ml20 mt20">
						<input type="text" class="form-control" name="dataFileNameText"
							id="dataFileNameText" />
					</div>
					<div class="form-group ml20 mt20">
						<a href="javascript:;" class="file-up-btn"> <input type="file"
							class="input-pointer"> <span><i>+</i>导入</span>
						</a>
					</div>
				</div>
				<!-- <div>
					<div class="ui-reg-grid">
						<div class="ui-grid-button clearfix mt20">
							<button onclick="fun_to_save()" type="button"
								class="ui-btn ui-btn-default">保存</button>
							<button onclick="window.location='dimtable_mgr.html'"
								type="button" class="ui-btn ui-btn-second ">返回维表管理</button>
						</div>
					</div>
				</div> -->
			</form>
		</div>
	</div>


</body>
</html>