<!---------------------- 计算中心   begin--------------->
<div>
	<h3 class="ui-calc-h3">
		计算中心
		<span>
			<!--暂时去掉（）  -->
			<em data-attr="left" class="J-drag-bracket">(</em>
			<em data-attr="right" class="J-drag-bracket">&nbsp;)</em>
			<i  class="del-shop" onclick="calculateCenter.clearShopRules()" title="清空"></i>
			<i class="J-min" title="收回"></i>
		</span>
	</h3>
	<div class="ui-calc-content clearfix" id="sortable">
		<div v-for="(item,index) in ruleList" :class="calculateCenter.getRuleClass(item)"
             		v-bind:index="index" v-bind:creat="item.createBrackets">
			<!--左括号 -->
			<span v-if="item.calcuElement == '('" v-text="item.calcuElement"></span>
			<!--右括号 -->
			<span v-if="item.calcuElement == ')'" >{{item.calcuElement}}
				<span class="onDelPar" onclick="calculateCenter.deletePar(this,event)"></span>
			</span>

			<!--符号 -->
			<div  v-if="item.elementType == 1" class="dropdown">
				<button type="button" class="ui-btn ui-btn-menu ui-icon-btn">
					<span class="fleft" v-if="item.calcuElement == 'or'">或</span>
					<span class="fleft" v-if="item.calcuElement == 'and'" >且</span>
					<span class="fleft" v-if="item.calcuElement == '-'" >剔除</span>
					<span class="caret" onclick="calculateCenter.switchConnectorShow(this,event)"></span>
				</button>
				<ul class="dropdown-menu">
					<li onclick="calculateCenter.switchConnector(this,'or')"><a href="javascript:void(0)" >或</a></li>
					<li onclick="calculateCenter.switchConnector(this,'and')"><a href="javascript:void(0)" >且</a></li>
					<li onclick="calculateCenter.switchConnector(this,'-')"><a href="javascript:void(0)" >剔除</a></li>
				</ul>
			</div>
			<!-- 标签 或者客户群 -->
			<h4 :class="{'ui-conditionCT-h4': 1==1 , 'ui-inverse': item.labelFlag == 0}"  v-if="(item.elementType == 2 || item.elementType == 5)">
				<span v-text="item.customOrLabelName" onclick="calculateCenter.againstLabel(this)"></span>
				<em onclick="calculateCenter.againstLabel(this)"></em>
				<i onclick="calculateCenter.deleteRule(this)"></i>
				<b onclick="calculateCenter.showLabelInfo(this,event)" class="ml10">!</b>
			</h4>
			<!-- 标签体内容 -->
			<!-- 标志性-->
			<div class="ui-conditionCT-content align_center" v-if="item.labelTypeId == 1">
				<h5>已选条件：</h5>
				<div class="clearfix">是</div>
			</div>
			<!-- 指标型 -->
			<div class="ui-conditionCT-content align_center" v-if="item.labelTypeId == 4" onclick="calculateCenter.setLabelAttr(this)">
				<h5 v-if="item.queryWay != null">已选条件：</h5>
				<div class="clearfix" v-if="item.queryWay == 1">
					数值范围：
					<span v-if="item.contiueMinVal !=''">
						<span v-if="item.leftZoneSign == '>='" >大于等于{{item.contiueMinVal}}</span>
						<span v-if="item.leftZoneSign == '>'" >大于{{item.contiueMinVal}}</span>
					</span>
					<span v-if="item.contiueMaxVal !=''">
						<span v-if="item.rightZoneSign == '<='" >小于等于{{item.contiueMaxVal}}</span>
						<span v-if="item.rightZoneSign == '<'" >小于{{item.contiueMaxVal}}</span>
					</span>
					<span v-text="item.unit"></span>
				</div>
				<div class="clearfix" v-if="item.queryWay == 2">
					精确值：
					<span v-if="item.exactValue !=''" v-text="item.exactValue">
					</span>
					<span v-text="item.unit"></span>
				</div>
				<i class="ui-nothing-icon" v-if="item.queryWay == null"><em></em>请点击设置</i>
			</div>
			<!-- 枚举型  5,9,11,12-->
			<div class="ui-conditionCT-content align_center" v-if="item.labelTypeId == 5" onclick="calculateCenter.setLabelAttr(this)">
				<h5 v-if="item.attrVal != null ">已选条件：</h5>
				<div class="clearfix" v-if="item.attrVal != null " v-text="item.attrName">
				</div>
				<i class="ui-nothing-icon" v-if="item.attrVal == null "><em></em>请点击设置</i>
			</div>
			<!-- 日期型 -->
			<div class="ui-conditionCT-content align_center" v-if="item.labelTypeId == 6" onclick="calculateCenter.setLabelAttr(this)">
				<h5 v-if="item.queryWay != null">已选条件：</h5>
				<div class="clearfix" v-if="item.queryWay == 1">
					<span v-if="item.startTime !=''">
						<span v-if="item.leftZoneSign == '>='" >大于等于{{item.startTime}}</span>
						<span v-if="item.leftZoneSign == '>'" >大于{{item.startTime}}</span>
					</span>
					<span v-if="item.endTime !=''">
						<span v-if="item.rightZoneSign == '<='" >小于等于{{item.endTime}}</span>
						<span v-if="item.rightZoneSign == '<'" >小于{{item.endTime}}</span>
					</span>
					<span v-if="item.isNeedOffset == 1">（动态偏移更新）</span>
				</div>
				<div class="clearfix" v-if="item.queryWay == 2">
					精确值：
					<span v-if="item.exactValue !=''" v-text="calculateCenter.formatDateExactValue(item)"></span>
				</div>
				<i class="ui-nothing-icon" v-if="item.queryWay == null "><em></em>请点击设置</i>
			</div>
			
			<!-- 文本型-->
			<div class="ui-conditionCT-content align_center" v-if="item.labelTypeId == 7" onclick="calculateCenter.setLabelAttr(this)">
				<h5 v-if="item.queryWay != null">已选条件：</h5>
				<div class="clearfix" v-if="item.queryWay == 1">
					模糊值：
					<span v-if="item.darkValue !=''" v-text="item.darkValue"></span>
				</div>
				<div class="clearfix" v-if="item.queryWay == 2">
					精确值：
					<span v-if="item.exactValue !=''" v-text="item.exactValue"></span>
				</div>
				<i class="ui-nothing-icon" v-if="item.queryWay == null "><em></em>请点击设置</i>
			</div>
			
			<!-- 客户群-->
			<div class="ui-conditionCT-content align_center" v-if="item.elementType == 5">
				<h5>已选条件：</h5>
				<div class="clearfix" v-text="item.attrVal"></div>
			</div>
			
			<div class="tooltip top" role="tooltip" v-if="index==0">
				<div class="tooltip-arrow"></div>
				<div class="tooltip-inner">鼠标点击标签反选</div>
			</div>
		</div>
	</div>
	<!-----------------------鼠标经过弹窗end--------------------->
</div>
<!---------------------- 计算中心   end----------------------->