<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>数据源管理</title>
<!--[if IE]>
    	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <![endif]-->
<link rel="stylesheet" theme="default" href="../../asset/css/theme/default/coc_frame.css" />
<link rel="stylesheet" theme="default" href="../../asset/css/theme/default/main.css" />
<script type="text/javascript" src="../../asset/script/common/include.js"></script>
<script type="text/javascript" src="dataSource_add.js"></script>
<style type="text/css">
[v-cloak] {
	display: none;
}
</style>
<!--[if lt IE 9]>
	    <script src="../../asset/script/component/h5compatibility/html5shiv.min.js"></script>
	    <script src="../../asset/script/component/h5compatibility/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<div id="dataD" class="iframe-nest" v-cloak>
		<div class="ui-reg-main">
			<div class="ui-lc-mian">
				<h3>指标注册</h3>
				<form id="formData">
				<input id="sourceTableId" name="sourceTableId" v-model="sourceTableId" type="hidden" />
					<div class="ui-expand-search ui-reg-search">
						<div class="form-inline ui-form">
							<div class="clearfix">
							<input id="sourceInfoList" name="sourceInfoList" type="text" value="" style="display:none" class="form-control mr10 ml10" />
							<input id="configId" name="configId" type="text" value="" class="form-control mr10 ml10" />
								<div class="form-group fleft">
									<label for="exampleInputEmail3">表名称</label> <input v-model="sourceTableName" name="sourceTableName" type="text" class="form-control mr10 ml10" placeholder="表名称">
									<button type="button" class="ui-btn ui-btn-default fright">解析</button>
								</div>
								<div class="form-group fleft ml30 mr100">
									<label class="fleft mt5" for="exampleInputEmail3">表中文名</label>
									<input v-model="sourceTableCnName" name="sourceTableCnName" type="text" class="form-control ml10" id="exampleInputEmail3" placeholder="表中文名">
								</div>
								<div class="form-group fleft ml20">
									<label class="control-label fleft mt5" for="exampleInputEmail3">源表类型</label>
									<div class="control-input has-icon">
										<select v-model="sourceTableType" name="sourceTableType" dicCode="SJYBLX" type="text" class="form-control input-pointer"></select>
									</div>
								</div>
							</div>
							<div class="clearfix mt30">
								<div class="form-group fleft mr100">
									<label for="exampleInputEmail3">日期分区字段</label> <input v-model="dateColumnName" name="dateColumnName" type="text" class="form-control ml10" placeholder="日期分区字段">
								</div>
								<div class="form-group fleft mr100">
									<label class="control-label fleft mt5" for="exampleInputEmail3">过滤条件</label>
									<div class="control-input">
										<input v-model="whereSql" name="whereSql" type="text" class="form-control ml10" placeholder="过滤条件">
									</div>
								</div>
								<div class="form-group fleft tag-radio ml20">
									<label for="inputEmail4" class="control-label fleft mt5">数据更新周期</label>
									<div class="control-input fleft ml10">
										<ul>
											<li class="" v-for="g in gxzq" style="display: inline"><input :value="g.code"  :id="'code'+g.code"
												name="readCycle" type="radio" /><span>{{g.dataName}}</span></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="clearfix mt30">
								<div class="form-group fleft mr100">
									<label for="exampleInputEmail3">字段名称</label> <input v-model="idColumn" name="idColumn" type="text" class="form-control ml10" id="exampleInputEmail3" placeholder="来源主键字段名称">
								</div>
								<div class="form-group fleft mr100">
									<label class="control-label fleft mt5" for="exampleInputEmail3">标识类型</label>
									<div class="control-input has-icon">
										<select v-model="idType" name="idType" dicCode="BSLXZD" type="text" class="ml10 fleft form-control input-pointer"></select>
									</div>
								</div>
								<div class="form-group fleft ml30">
									<label class="control-label fleft mt5 ml20" for="exampleInputEmail3">字段类型</label>
									<div class="control-input has-icon">
										<select v-model="idDataType" name="idDataType" dicCode="ZDLXZD" type="text" class=" fleft form-control input-pointer"></select>
									</div>
								</div>
							</div>
							
						</div>
					</div>
					<div class="ui-reg-table mt20">
						<div class="clearfix">
							<h3 class="fleft ml20">字段描述</h3>
							<button type="button" class="ui-btn ui-btn-sm ui-btn-default fleft ml20">导入</button>
							<button type="button" class="ui-btn ui-btn-sm ui-btn-second fleft ml10">模版下载</button>
						</div>
						<div class="ui-reg-grid">
							<div class=" ui-table-title mt10">
								<table id="jsonmap" class="table table-striped"></table>
							</div>
							<button id="btn_addRow" type="button" class="ui-btn ui-btn-sm ui-btn-second mt10">添加一行</button>
							<div class="ui-grid-button clearfix mt20">
								<button onclick="history.back(-1)" type="button" class="ui-btn ui-btn-second">取消</button>
								<button onclick="fun_to_save()" type="button" class="ui-btn ui-btn-default">保存</button>
							</div>
						</div>
					</div>
				</form>
			</div>
			<!-- todo -->

		</div>
	</div>
</body>
</html>