<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>创建标签-多指标</title>
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <![endif]-->
    <link href="../../asset/css/common/reset.css" rel="stylesheet"  />
    <link href="../../asset/css/theme/default/button.css" rel="stylesheet"  />
    <link href="../../asset/css/theme/default/form.css" rel="stylesheet"  />
    <link href="../../asset/css/theme/default/tab.css" rel="stylesheet"  />
    <link href="../../asset/css/theme/default/coc_frame.css" rel="stylesheet"  />
    <link href="../../asset/css/theme/default/main.css" rel="stylesheet"  />
    <script type="text/javascript" src="../../asset/script/common/include.js"></script>
    <script type="text/javascript" src="label_multi_add.js"></script>
    <style type="text/css">
    [v-clock]{
       display: none; 
    }
     .ui-form-hide{
    	display:none;
    }
    </style>
    <!--
        H5兼容js CSS3 兼容JS
    -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
     <div class="iframe-nest">
            <div id="dataD" v-clock>
                <div class="ui-lc-mian">
                    <h3>创建标签</h3>
                    <ul class="tab-list tab-hor clearfix">
                        <li class="fleft"><a href="label_single_add.html">单指标</a></li>
                        <li class="fleft active"><a href="">多指标</a></li>
                    </ul>
                    <form class="clearfix create-main mt10" v-for="(sourceInfo,index) in sourceInfoList">
                        <input type="hidden" v-model="configId" name="configId">
                        <div class="ui-create">
                            <div class="ui-form-group clearfix">
                                <!-- <input type="hidden" name="dependIndex" v-model="sourceInfoList[index]['dependIndex']"> -->
                                <label for="inputEmail3" class="control-label fleft">
                                 <span class="input-required">*</span>                                
                                                                 规则依赖指标</label>
                                <div class="control-input">
                                    <input type="text" name="dependIndex" class="form-control easyui-validatebox" :id="'dependIndex_'+index" required="true" readonly="readonly">
                                    <div class="label-lists" >
                                        <span class="del-btn mr10" v-for="(sourceId,index1) in sourceInfoList[index]['dependIndexList']">{{sourceId}}
                                            <i class="del-btn-icon" v-on:click="del_sourceName(index,index1)"></i>
                                        </span>
                                    </div>
                                </div>
                                <button :id="index" onclick="chooseKpi(this)" type="button" class="ui-btn ui-btn-ghost-brand ml10">指标选择</button>
                                <i class="del-btn-icon form-del-btn fright mr10 mt5" ></i>
                            </div>
                        </div>
                        <div class="form-horizontal fleft ui-form">
                            <div class="ui-form-group clearfix">
                                <label for="labelName" class="control-label">
                                 <span class="input-required">*</span>                                
                                                                 标签名称</label>
                                <div class="control-input">
                                    <input required="true" type="text" class="form-control easyui-validatebox" name="labelName" placeholder="输入标签名称">
                                </div>
                            </div>
                            <div class="ui-form-group mt10 tag-radio clearfix">
                                <label class="control-label fleft">
                                 <span class="input-required">*</span>                                
                                                                 标签类型</label>
                                <div class="control-input fleft ml10">
                                 <ul class="validate-radioList">
									<li class="" v-for="g in bqlx" style="display: inline">
									<div class="radio circle success">
										<input class="easyui-validatebox" validType="radio" :value="g.code" name="labelTypeId"
										type="radio" onclick="changeStatus(this)" />				
										<label><i class="default"></i>{{g.dataName}}</label>
										</div>											  	
									</li>
								</ul>
								</div>
                            </div>
                            <div class="ui-form-group clearfix">
                                <label for="categoryId" class="control-label">
                                 <span class="input-required">*</span>                                
                                                                 标签分类</label>
                                <div class="control-input ui-form-ztree">
                                	<input type="hidden" name="categoryId">
                                    <input required="true" type="text" class="form-control easyui-validatebox" id="categoryName" onclick="openTtee(this)" readonly>
                                    <div class="dropdown-menu">
                                    	<ul id="ztree" class="ztree">
							            </ul>
                                    </div>
                                </div>                             
                            </div> 
                            <div class="ui-form-group clearfix">
					            <input type="hidden" name="sourceTableType" id="sourceTableType">
					            <label for="updateCycle" class="control-label">
					             <span class="input-required">*</span>            
					                         更新周期</label>
					            <div class="control-input has-icon">
						            <select  v-model="sourceInfo.updateCycle" required="true" name="updateCycle" class="form-control input-pointer easyui-validatebox">
										<option v-for="h in gxzq" :value="h.code">{{h.dataName}}</option>
									</select>
								</div>
					        </div>
                        </div>
                        <div class="form-horizontal fleft ui-form">
                            <div class="ui-form-group clearfix">
                                <label for="countRules" class="control-label">
                                 <span class="input-required">*</span>                                
                                                                 具体规则</label>
                                <div class="control-input">
                                    <textarea required="true" rows="7" id="countRules" name="countRules"
                                        class="form-control form-control-textarea easyui-validatebox">{{sourceInfo.sourceId}}</textarea>
                                </div>
                            </div>
                            <div class="ui-form-group clearfix">
                                <label for="unit" class="control-label">单位</label>
                                <div class="control-input">
                                    <input type="text" class="form-control form-control" v-model="sourceInfo.unit" name="unit" placeholder="请输入单位">
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal fleft ui-form">
                            <div class="ui-form-group clearfix">
                                <label for="busiCaliber" class="control-label">
                                 <span class="input-required">*</span>                                
                                                                 业务口径</label>
                                <div class="control-input">
                                    <textarea rows="2" v-model="sourceInfo.busiCaliber" class="form-control form-control-textarea easyui-validatebox"
                                     required="true" id="busiCaliber" name="busiCaliber" placeholder="输入业务口径"></textarea>
                                </div>
                            </div>
						    <div class="ui-form-group clearfix">
							    <label class="control-label">
							     <span class="input-required">*</span>    
							         失效时间</label> 
							       <div class="control-input date-input fleft has-icon">
			          	             <input required="true" name="failTime" type="text" 
							         class="date-input form-control input-pointer form-control-bubble easyui-validatebox" data-dismiss="formDatepicker#sendTime" id="" 
							         value="2037-12-31" onmousedown="getTime(this)"/>
			          	             <span class="glyphicon-date form-control-feedback"></span>
			                       </div>   
					        </div>
                            <div class="ui-form-hide">
                              <div class="ui-form-group clearfix">
                                  <label for="dimTableName" class="control-label">
                                   <span class="input-required">*</span>                                  
                                                                     维表选择</label>
                                  <div class="control-input control-select">
                                      <select required="true" v-model="sourceInfo.dimId" name="dimId" class="form-control input-pointer easyui-validatebox">
                                       <option>请选择维表</option>
                                       <option v-for = "dim in dimtableInfoList" :value="dim.dimId">{{dim.dimTableName}}</option>
                                      </select>       
                                  </div> 
                                  <button type="button" v-on:click="fun_to_dimdetail(sourceInfo)" class="file-up-btn ml10" >详情</button>
                              </div>            
                              <!-- <div class="ui-form-group clearfix">
                                  <label for="dataType" class="control-label">
                                   <span class="input-required">*</span>                                  
                                                                     数据类型</label>
                                    <div class="control-input">
                                          <select name="dataType" id="dataType" required="true" class="easyui-validatebox form-control" selected>
					                            <option v-for = "h in sjlx" :value="h.dataName">{{h.dataName}}</option>
				                          </select>
                                    </div>
                              </div> -->
                            </div>
                        </div>
                    </form>
                    <div class="ui-reg-grid mt40">
                        <div class=" ui-table-title mt10">
	                        <table id="jsonmap"  class="table table-striped"></table>
	                    </div>
	                    <button type="button" onclick="fun_to_createRow()" class="ui-btn ui-btn-sm ui-btn-second mt10">添加一行</button>
	                    <div class="ui-grid-button clearfix mt20">
	                        <button onclick="window.location='label_mgr.html'" type="button" class="ui-btn ui-btn-second">取消</button>
	                        <button type="button" onclick="fun_to_save()" class="ui-btn ui-btn-default">验证并创建</button>
	                    </div>
                    </div>
                </div>
            </div>

            <!-- todo -->

        </div>

</body>
</html>