<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>创建标签-单指标</title>
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <![endif]-->
    <link href="../../asset/css/common/reset.css" rel="stylesheet"  />
    <link href="../../asset/css/theme/default/button.css" rel="stylesheet"  />
    <link href="../../asset/css/theme/default/form.css" rel="stylesheet"  />
    <link href="../../asset/css/theme/default/tab.css" rel="stylesheet"  />
    <link href="../../asset/css/theme/default/coc_frame.css" rel="stylesheet"  />
    <link href="../../asset/css/theme/default/main.css" rel="stylesheet"  />
    <script type="text/javascript" src="../../asset/script/common/include.js"></script>
    <script type="text/javascript" src="label_single_add.js"></script>
    <style type="text/css">
    [v-clock]{
       display: none; 
    }
    </style>
    <!--
        H5兼容js CSS3 兼容JS
    -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
      <div id="dataD" class="iframe-nest" v-clock>
            <form id="saveDataForm">
                <div class="ui-lc-mian">
                    <h3>创建标签</h3>
                    <ul class="tab-list tab-hor clearfix">
                        <li class="fleft active"><a href="">单指标</a></li>
                        <li class="fleft"><a href="label_multi_add.html">多指标</a></li>
                    </ul>
                    <div class="ui-expand-search mt10">
                        <div class="form-inline ui-form">
                            <div class="clearfix">
                                <div  class="form-group">
                                    <label class="fleft mt5" for="exampleInputEmail4">选择指标数据</label>
                                    <div class="control-input has-icon">
                                        <select id="sourceTableId" name="sourceTableId" class="form-control ml10 input-pointer ">
                                        <option>请选择指标</option>
                                        <option v-for ="source in sourcetableInfoList" :value="source.sourceTableId">{{source.sourceTableName}}</option>
                                        </select>
                                    </div>
                                    <div class="fleft clearfix">
                                        <a href="javascript:;" class="ui-advanced-sreach fleft mt5">没有元数据?</a>
                                        <button onclick="window.location='dataSource_add.html'" type="button" class="btn btn-default  ui-table-btn ui-table-btn" >点击创建</button>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="clearfix create-main mt10"  v-for="(sourceInfo,index) in sourceInfoList">
                        <div class="progress fleft">
                            <span class="progress-label">
                                <i class="icon"></i>
                            </span>
                        </div>
                        <div class="ui-main fleft">
                            <div class="clearfix">
                                <div class="form-horizontal fleft ui-form">
                                    <div class="ui-form-group">
                                        <label for="labelName" class="control-label">标签名称</label>
                                        <div class="control-input">
                                            <input :value="sourceInfo.sourceName" type="text" class="form-control" id="labelName" :name="'labelInfoList['+index+'].labelName'">
                                        </div>
                                    </div>
                                    <div class="ui-form-group mt20 tag-radio clearfix">
                                        <label class="control-label fleft">标签类型</label>
                                        <div class="control-input fleft ml10">
                                           <ul>
											  <li class="" v-for="g in bqlx" style="display: inline">
											  	<div class="radio circle success">
											  		<input :value="g.code"
												:name="'labelInfoList['+index+'].labelTypeId'" type="radio" onclick="changeStatus(this)" />
													
													<label><i class="default"></i>{{g.dataName}}</label>
											  	</div>											  	
											  </li>
										   </ul>
										</div>
                                    </div>
                                    <div class="ui-form-group mt20 tag-radio clearfix">
                                        <label class="control-label fleft">是否正式标签</label>
                                        <div class="control-input fleft ml10">
                                           <ul>
											  <li class="" v-for="i in isbq" style="display: inline">
											  	<div class="radio circle success">
											  		<input :value="i.code"
												:name="'labelInfoList['+index+'].isRegular'" type="radio"/>													
													<label><i class="default"></i>{{i.dataName}}</label>
											  	</div>											  	
											  </li>
										   </ul>
										</div>
                                    </div>
                                    <div class="ui-form-group">
                                        <label for="categoryId" class="control-label">标签分类</label>
                                        <div class="control-input">
                                            <input type="text" class="form-control" id="categoryId" :name="'labelInfoList['+index+'].categoryId'" placeholder="cust1">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-horizontal fleft ui-form">
                                    <div class="ui-form-group">
                                        <label for="countRulesCode" class="control-label">抽取规则</label>
                                        <div class="control-input">
                                            <textarea rows="6" id="countRulesCode" :name="'labelInfoList['+index+'].countRulesCode'" 
                                                class="form-control form-control-textarea">{{sourceInfo.sourceId}}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-horizontal fleft ui-form">
                                    <div class="ui-form-group">
                                        <label for="busiCaliber" class="control-label">业务口径</label>
                                        <div class="control-input">
                                            <input type="text" class="form-control" id="busiCaliber" :name="'labelInfoList['+index+'].busiCaliber'" placeholder="cust1">
                                        </div>
                                    </div>
								    <div class="ui-form-group">
									    <label class="control-label">失效时间</label> 
									       <div class="control-input date-input fleft ml10 has-icon">
					          	             <input type="text" :name="'labelInfoList['+index+'].failTime'" class="ml10 date-input form-control input-pointer form-control-bubble" data-dismiss="formDatepicker#sendTime" id="" placeholder="请选择结束日期">
					          	             <span class="glyphicon-date form-control-feedback"></span>
					                       </div>   
							        </div>
                                    <div v-if="showdimDetail==index" class="ui-form-group">
                                        <label for="dimTableName" class="control-label">维表选择</label>
                                        <div class="control-input has-icon">
                                            <select id="dimTableName" :name="'labelInfoList['+index+'].dimTableName'" class="form-control ml10 input-pointer ">
                                            <option>请选择维表</option>
                                            <option v-for = "dim in dimtableInfoList" :value="dim.dimId">{{dim.dimTableName}}</option>
                                            </select>
                                        </div>
                                        <button type="button" onclick="fun_to_dimdetail()" class="btn btn-default  ui-table-btn ui-table-btn" >详情</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-reg-grid mt40">
                        <div class=" ui-table-title mt10">
                            <table id="jsonmap"  class="table table-striped"></table>
                        </div>
                        <button type="button" class="ui-btn ui-btn-sm ui-btn-second mt10">添加一行</button>
                        <div class="ui-grid-button clearfix mt20">
                            <button onclick="window.location='label_mgr.html'" type="button" class="ui-btn ui-btn-second">取消</button>
                            <button type="button" onclick="fun_to_save()" class="ui-btn ui-btn-default">验证并创建</button>
                        </div>
                    </div>
                </div>
            </form> 

            <!-- todo -->

        </div>
</body>
</html>