<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>新增专区</title>
<!--[if IE]>
    	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <![endif]-->
<link rel="stylesheet" theme="default" href="../../asset/css/theme/default/coc_frame.css" />
<link rel="stylesheet" theme="default" href="../../asset/css/theme/default/main.css" />
<script type="text/javascript" src="../../asset/script/common/include.js"></script>
<script type="text/javascript" src="label_edit.js"></script>
<style type="text/css">
[v-cloak] {
	display: none;
}
</style>
<!--[if lt IE 9]>
	    <script src="../../asset/script/component/h5compatibility/html5shiv.min.js"></script>
	    <script src="../../asset/script/component/h5compatibility/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<div id="dataD" class="iframe-nest" v-cloak>
		<div class="ui-reg-main">
			<div class="ui-lc-mian">
				<h3>标签编辑</h3>
				<form id="saveDataForm">
				    <input type="hidden" v-model="configId" name="configId"> 
					<input type="hidden" v-model="labelId" id="labelId" name="labelId" />
					<div class="form-horizontal ui-form">
		                <div class="ui-form-group ml70">
							<label class="control-label">标签名称</label> 
							<div class="control-input ml10">
								<input v-model="labelName" name="labelName" type="text" required="required" class="easyui-validatebox fleft form-control"
								placeholder="请输入标签名称" />
							</div>
						</div>
		                <div class="ui-form-group ml70">
							<label class="control-label">单位</label> 
							<div class="control-input ml10">
								<input name="unit" type="text"  class="fleft form-control"
								placeholder="请输入单位" />
							</div>
						</div>
						<div class="ui-form-group ml70">
							<label class="control-label">更新周期</label> 
							<div class="control-input ml10">
								<select v-model="updateCycle" name="updateCycle" required="required" class="easyui-validatebox form-control" selected>
									<option v-for="h in gxzq" :value="h.code">{{h.dataName}}</option>
								</select>
							</div>
						</div>
						<div class="ui-form-group ml70">
							<label class="control-label" for="failTime">失效时间</label>
							<div class="control-input ml10">
								<input id="failTime" name="failTime" type="text" required="required"
							class="easyui-validatebox form-control" data-dismiss="formDatepicker#sendTime" id="" placeholder="请选择失效日期" />
							</div>
						</div>
						<div class="ui-form-group ml70">
                            <label class="control-label fleft">是否正式标签</label>
                            <div class="control-input ml10">
                               <ul>
								  <li class="" v-for="(i,index) in isbq" style="display: inline">
								  	<div class="radio circle success">
								  		<input :value="i.code" name="isRegular" type="radio" required="required" class="easyui-validatebox" checked="index===0"/>													
										<label><i class="default"></i>{{i.dataName}}</label>
								  	</div>											  	
								  </li>
				               </ul>
				            </div>
                        </div>
		            	<div class="ui-form-group ml70">
		            	    <input type="hidden" name="dependIndex" v-model="dependIndex">
                            <label for="inputEmail3" class="control-label fleft">规则依赖指标</label>
                            <div class="control-input ml10">
                                <input type="text" class="form-control" id="inputEmail3" placeholder="">
                                <div class="label-lists">
                                    <span class="del-btn" v-for="sourceName in sourceNameList">{{sourceName}}
                                        <i class="del-btn-icon"></i>
                                    </span>
                                </div>
                            </div>
                            <button id="btn_index_select" name="btn_index_select" type="button" class="ui-btn ui-btn-ghost-brand ml10">指标选择</button>
                            <i class="del-btn-icon fright mr10 mt5"></i>
                        </div>
						<div class="ui-form-group ml70">
                            <label for="categoryId" class="control-label">标签分类</label>
                             <div class="control-input ui-form-ztree ml10">
                             	<input type="hidden" name="categoryId">
                                <input type="text" class="form-control" id="categoryName" onclick="openTtee(this)" readonly>
                                <div class="dropdown-menu">
		                         	<ul id="ztree" class="ztree">
							        </ul>
                                </div>
                            </div>                             
                        </div>
                        <div class="ui-form-group ml70">
							<label class="control-label">标签类型</label> 
							<div class="control-input ml10">
								<select v-model="labelTypeId" id="labelTypeId" name="labelTypeId" required="required" class="easyui-validatebox form-control"
							     onchange="changebq(this.options[this.selectedIndex].value)">
								<option v-for="h in bqlx" :value="h.code">{{h.dataName}}</option>
								</select>
							</div>
						</div> 
						<div v-if="isemmu==true||labelTypeId==='枚举型'">
						    <div class="ui-form-group ml70">
                                <label class="control-label" for="dimTableName">维表选择</label>
                                <div class="control-input ml10">
                                 	<select id="dimId" name="dimId" required="required" class="easyui-validatebox form-control">
                                         <option>请选择维表</option>
                                         <option v-for = "dim in dimtableInfoList" :value="dim.dimId">{{dim.dimTableName}}</option>
                                     </select>
                                </div>
                                <button type="button" onclick="fun_to_dimdetail()" class="file-up-btn ml10" >详情</button>
                            </div>
                            <div class="ui-form-group ml70">
                                <label for="dataType" class="control-label">数据类型</label>
                                   <div class="control-input ml10">
                                        <input name="dataType" type="text" required="required" class="easyui-validatebox form-control" id="dataType">
                                  </div>
                            </div>
                        </div>
                        <div class="ui-form-group ml70">
                           <label for="countRules" class="control-label">具体规则</label>
                           <div class="control-input ml10">
                               <textarea rows="5" id="countRules" name="countRules" 
                                   class="form-control form-control-textarea"></textarea>
                           </div>
                        </div>
					</div>
				</form>
				<div class="ui-reg-grid mt40">
                    <div class="ui-grid-button clearfix mt20">
                        <button onclick="window.location='label_mgr.html'" type="button" class="ui-btn ui-btn-second">取消</button>
                        <button type="button" onclick="fun_to_save()" class="ui-btn ui-btn-default">保存</button>
                    </div>
	            </div>
			</div>
		</div>
	</div>
</body>
</html>