<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>创建标签-单指标</title>
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <![endif]-->
    <link href="../../asset/css/common/reset.css" rel="stylesheet"  />
    <link href="../../asset/css/theme/default/button.css" rel="stylesheet"  />
    <link href="../../asset/css/theme/default/form.css" rel="stylesheet"  />
    <link href="../../asset/css/theme/default/tab.css" rel="stylesheet"  />
    <link href="../../asset/css/theme/default/coc_frame.css" rel="stylesheet"  />
    <link href="../../asset/css/theme/default/main.css" rel="stylesheet"  />
    <script type="text/javascript" src="../../asset/script/common/include.js"></script>
    <script type="text/javascript" src="label_single_add.js"></script>
    <style type="text/css">
    [v-clock]{
       display: none; 
    }
    .ui-form-hide{
    	display:none;
    }
    </style>
    <!--
        H5兼容js CSS3 兼容JS
    -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="iframe-nest">
       <div id="dataD" v-clock>
	  	  <div class="ui-lc-mian">
	  		<h3>创建标签</h3>  
	                <ul class="tab-list tab-hor clearfix">
	                    <li class="fleft active"><a href="">单指标</a></li>
	                    <li class="fleft"><a href="label_multi_add.html">多指标</a></li>
	                </ul>
	                <div class="ui-expand-search mt10">
	                    <div class="form-inline ui-form">
	                        <div class="clearfix">
	                            <div  class="form-group">
	                                <label class="fleft mt5" for="exampleInputEmail4">指标源表</label>
	                                <div class="control-input has-icon">
	                                    <select id="sourceTableId" name="sourceTableId" class="form-control ml10 input-pointer ">
	                                    <option>请选择指标源表</option>
	                                    <option v-for ="source in sourcetableInfoList" :value="source.sourceTableId">{{source.sourceTableName}}</option>
	                                    </select>
	                                </div>
	                                <div class="fleft clearfix">
	                                    <a href="javascript:;" class="ui-advanced-sreach fleft mt5">没有元数据?</a>
	                                    <button onclick="window.location='dataSource_add.html'" type="button" class="btn btn-default  ui-table-btn ui-table-btn" >点击创建</button>
	                                </div>
	
	                            </div>
	
	                        </div>
	
	                    </div>
	                </div>
	                <form class="clearfix create-main active mt10"  v-for="(sourceInfo,index) in sourceInfoList">
	                    <input type="hidden" name="configId" v-model="configId">
	                    <div class="progress fleft">
	                        <span class="progress-label">
	                            <i class="icon" onclick="getData(this)"></i>
	                        </span>
	                    </div>
	                    <div class="ui-main fleft">
	                        <div class="clearfix">
	                            <div class="form-horizontal fleft ui-form">
	                                <div class="ui-form-group">
	                                    <label for="labelName" class="control-label">
	                                     <span class="input-required">*</span>                                    
	                                                                         标签名称</label>
	                                    <div class="control-input">
	                                        <input :value="sourceInfo.sourceName" required="true" type="text" class="form-control easyui-validatebox" id="labelName" name="labelName">
	                                    </div>
	                                </div>
	                                <div class="ui-form-group mt20 tag-radio clearfix">
	                                    <label class="control-label fleft">
	                                    <span class="input-required">*</span>                                    
	                                                                        标签类型</label>
	                                    <div class="control-input fleft ml10">
	                                       <ul class="validate-radioList">
											  <li class="" v-for="g in bqlx" style="display: inline">
											  	<div class="radio circle success">
											  		<input class="easyui-validatebox" :value="g.code" name="labelTypeId" type="radio" validType="radio"  
											  		 :checked="g.checked" onclick="changeStatus(this)"/>
													<label><i class="default"></i>{{g.dataName}}</label>
											  	</div>											  	
											  </li>
										   </ul>
										</div>
	                                </div>
	                                <!-- <div class="ui-form-group mt20 tag-radio clearfix">
	                                    <label class="control-label fleft">
	                                    <span class="input-required">*</span>                                    
	                                                                        是否正式标签</label>
	                                    <div class="control-input fleft ml10">
	                                       <ul>
											  <li v-for="(i,index) in isbq" style="display: inline">
											  	<div class="radio circle success">
											  		<input :value="i.code" name="isRegular" type="radio" checked="index===0"/>													
													<label><i class="default"></i>{{i.dataName}}</label>
											  	</div>											  	
											  </li>
										   </ul>
										</div>
	                                </div> -->
	                                <div class="ui-form-group">
	                                    <label for="categoryId" class="control-label">
	                                    <span class="input-required">*</span>                                    
	                                                                        标签分类</label>
	                                    <div class="control-input ui-form-ztree">
	                                    	<input type="hidden" name="categoryId">
	                                        <input required="true" type="text" class="form-control easyui-validatebox" id="categoryName" onclick="openTtee(this)" readonly>
	                                        <div class="dropdown-menu">
	                                        	<ul id="ztree" class="ztree">
												</ul>
	                                        </div>
	                                    </div>                             
	                                </div>        
	                            </div>
	                            <div class="form-horizontal fleft ui-form">
	                                <div class="ui-form-group">
	                                    <label for="dependIndex" class="control-label">规则依赖指标</label>
	                                    <div class="control-input" v-if="sourceInfo.sourceId!=false">
	                                        <input :value="sourceInfo.sourceId" name="dependIndex" type="hidden">
	                                        <span class="file-up-name">{{sourceInfo.sourceId}}</span>
	                                    </div>
	                                    <div v-if="sourceInfo.sourceId==false " class="control-input">
	                                        <input class="form-control" id="dependIndex" name="dependIndex"></input>
	                                    </div>
	                                </div>
	                                <div class="ui-form-group">
	                                    <label for="countRules" class="control-label">
	                                    <span class="input-required">*</span>                                    
	                                                                        具体规则</label>
	                                    <div class="control-input">
	                                        <textarea rows="5" id="countRules" name="countRules" 
	                                         required="true"  class="form-control form-control-textarea easyui-validatebox">{{sourceInfo.sourceId}}</textarea>
	                                    </div>
	                                </div>
	                                <div class="ui-form-group">
	                                    <label for="unit" class="control-label">单位</label>
	                                    <div class="control-input">
	                                        <input type="text" class="form-control" id="unit" name="unit" placeholder="请输入单位">
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="form-horizontal fleft ui-form">
	                                <div class="ui-form-group">
	                                    <label for="busiCaliber" class="control-label">
	                                    <span class="input-required">*</span>                                    
	                                                                        业务口径</label>
	                                    <div class="control-input">
	                                        <input type="text" class="form-control easyui-validatebox" 
	                                        required="true"	id="busiCaliber" name="busiCaliber" placeholder="请输入业务口径">
	                                    </div>
	                                </div>
								    <div class="ui-form-group">
									    <label class="control-label">
									    <span class="input-required">*</span>    
									        失效时间</label> 
									       <div class="control-input date-input fleft has-icon">
					          	             <input name="failTime" type="text" required="true"
									         class="form-control input-pointer easyui-validatebox" data-dismiss="formDatepicker#sendTime" 
									         placeholder="请选择失效日期" onmousedown="getTime(this)"/>
					          	             <span class="glyphicon-date form-control-feedback"></span>
					                       </div>   
							        </div>
							        <div class="ui-form-group">
							            <input type="hidden" v-model="sourceTableType" name="sourceTableType" id="sourceTableType">
							            <input type="hidden" v-model="readCycle" name="updateCycle" id="updateCycle">
							            <label for="updateCycle" class="control-label">更新周期</label>
							            <div class="control-input">
	                                    	<span class="file-up-name">{{model.read}}</span>
							            </div>          
							        </div>
							        <div class="ui-form-hide">
		                                <div class="ui-form-group">
		                                    <label for="dimTableName" class="control-label">
		                                     <span class="input-required">*</span>                                    
		                                                                         维表选择</label>
		                                    <div class="control-input control-select">
		                                        <select id="dimId" name="dimId" required="true" class="form-control input-pointer easyui-validatebox">
			                                        <option>请选择维表</option>
			                                        <option v-for = "dim in dimtableInfoList" :value="dim.dimId">{{dim.dimTableName}}</option>
		                                        </select>       
		                                    </div> 
		                                    <button type="button" onclick="fun_to_dimdetail()" class="file-up-btn ml10" >详情</button>
		                                </div>            
		                                <div class="ui-form-group">
		                                    <label for="dataType" class="control-label">
		                                    <span class="input-required">*</span>                                    
		                                                                        数据类型</label>
		                                       <div class="control-input">
		                                            <select name="dataType" id="dataType" required="true" class="easyui-validatebox form-control" selected>
									                   <option v-for = "h in sjlx" :value="h.dataName">{{h.dataName}}</option>
								                    </select>
		                                      </div>
		                                </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </form>
	                <div class="ui-reg-grid mt40">
	                    <div class=" ui-table-title mt10">
	                        <table id="jsonmap"  class="table table-striped"></table>
	                    </div>
	                    <!-- <button type="button" onclick="fun_to_createRow()" class="ui-btn ui-btn-sm ui-btn-second mt10">添加一行</button> -->
	                    <div class="ui-grid-button clearfix mt20">
	                        <button onclick="window.location='label_mgr.html'" type="button" class="ui-btn ui-btn-second">取消</button>
	                        <button type="button" onclick="fun_to_save()" class="ui-btn ui-btn-default">验证并创建</button>
	                    </div>
	                </div>
	         </div>
	  	</div>
	       
        <!-- todo -->

    </div>
</body>
</html>