<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>客户群预览</title>
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <![endif]-->
    <link rel="stylesheet" theme="default"
	href="../../asset/css/theme/default/coc_frame.css" />
<link rel="stylesheet" theme="default"
	href="../../asset/css/theme/default/main.css" />
<script type="text/javascript"
	src="../../asset/script/common/include.js"></script>
    <script type="text/javascript" src="custom_detail.js"></script>
    <!--
        H5兼容js CSS3 兼容JS
    -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <style>
    	.ui-dialog > .form-horizontal{
    		display:none;
    	}
    </style>
</head>
<body>

<div id="dataD" class="iframe-nest">
	<div class="ui-lc-mian">
		<h3>客户群基本信息</h3>
		<div class="ui-custom-info">
			<h3 class="clearfix">
				<span class="fleft" v-text="model.labelName"></span>
				<span class="fright" v-text="model.customNum"></span>
			</h3>
			<div class="clearfix">
			<div id = "labelDetail"></div>
			<span class="ui-label-date fright" v-text="model.dataDate">
			</div>
		</div>
		<div class="mt10">
			<div class="radio circle success" @click="haveAttr=false"> 
			   <input type="radio" name="radio19" id="myr3" :checked="!haveAttr"> 
			   <label for="myr3" v-bind:class="{active:!haveAttr}"><i class="default"></i> 不带属性</label>
			</div>
		    <div class="radio circle success" @click="haveAttr=true">
			   <input type="radio" name="radio19"  id="myr4" :checked="haveAttr"> 
			   <label  for="myr4" v-bind:class="{active:haveAttr}"><i class="default"></i> 带属性</label>
			</div>
		</div>
		<div class="ui-edit-h3" v-show="haveAttr" style="display:none;">
			<h3>带出标签属性</h3>
			<div class="ui-custom-info">
				    <div class="form-group">
		                <div class="input-group">
		                    <input type="text" class="form-control" placeholder="标签名称" id="labelName" >
		                     <input id='hiddeninput' type="text" style="display:none" /> 
		                    <div class="input-group-addon input-group-icon right-child" id="btn_search"></div>
		                </div>
		            </div>
			    <div class="clearfix mt20">
			    	<div class="ui-custom-col fleft">
					<h3>标签体系</h3>
					<div class="ui-custom-mes">
						<p>基本信息</p>
						<ul id="ztree" class="ztree">
				
						</ul>
					</div>
				</div>
					<div class="ui-custom-col fleft">
						<h3>可选标签</h3>
						<div class="ui-custom-mes">
							<ul id="OptionalLabel" class="label-selected">
							</ul>
						</div>
					</div>
					<div class="ui-custom-move fleft">
						<a class="ui-custom-right" id="custom_right"></a>
						<a class="ui-custom-left" id="custom_left"></a>
					</div>
					<div class="ui-custom-col fleft">
						<h3>已选标签</h3>
						<div class="ui-custom-mes">
							<ul class="label-selected" id="selectedLabel">
							</ul>
						</div>
					</div>
				</div>	
				<div class="selectBox">
					 <div class="mt20 selectList">
						 <div class="form-group mr100">
		                    <div class="">
		                        <select class="form-control input-pointer select-Sort" name="dataStatusId" >
		                        <option >请选择属性</option>
		                        <option v-for="(item,index) in calcuElementNames">{{calcuElementNames[index]}}</option>
		                        </select>
		                    </div>
		                </div>
			            <div class="radio circle success"> 
						   <input type="radio" name="radio20" id="myr3" checked="checked"> 
						   <label for="myr3" class="active"><i class="default"></i>升序</label>
						</div>
					    <div class="radio circle success">
						   <input type="radio" name="radio20"  id="myr4"> 
						   <label  for="myr4"><i class="default"></i>降序</label>
						</div>
						<button type="button" class="ui-btn ui-btn-second ml30" id="fun_to_add">添加</button>
					</div>
					<div id="addALine">
					</div>
				</div> 
				
			</div>
		</div>
		<div class="ui-custom-btn mt10">
				<button type="button" class="ui-btn ui-btn-ghost-brand mr10" onclick="window.history.go(-1)">取消</button>
				<button type="button" class="ui-btn ui-btn-default mr10" @click="previewDialog()" >预览</button>
<!-- 				注释掉，中邮暂时不用 -->
				<button type="button" id="customPush" resourceCode="custom_push" class="ui-btn ui-btn-default mr10" style="display:none" @click="showDialog()">推送</button>
				<button type="button" id="customDownload" resourceCode="custom_download" class="ui-btn ui-btn-default mr10" style="display:none" @click="showDownload()">下载</button>
		</div>
	</div>
</div>

<!-- 推送弹窗 -->
<div class="ui-dialog" id="dialog">
	<div class="form-horizontal mt10 ui-lc-mian">
		<div class="ui-form-group clearfix" id="radioList">
	        <label for="inputEmail3" class="control-label fleft"><span class="input-required">*</span>推送周期:</label>
	        <ul id="radioList" class="clearfix fleft">
		        <li class="radio circle success"  v-for="(item,index) in dataName" @click="radioSelect(index)"> 
				   	<input type="radio" name="pushCycle" :value="item.code" id="myr3"> 
					<label for="myr3" v-bind:class="{active:index==curentIndex}"><i class="default"></i>{{item.dataName}}</label>
				</li>
	        </ul>
	    </div>
	    <div class="ui-form-group clearfix mt10">
	        <label for="inputEmail3" class="control-label fleft"><span class="input-required">*</span>推送到:</label>
	        <div class="control-input">
	        	<ul class="clearfix fleft" id="checkboxList">
		        	<li class="checkbox fleft" v-for="(item,index) in sysName" @click.stop.prevent="checkSelect(item)" >
					    <input :id="item.sysId" type="checkbox" class="checkbix" :checked="item.isActive">
					    <label  v-bind:class="{active:item.isActive}" aria-label="" role="checkbox" :for="item.sysId" class="checkbix">
					    		<span class="large"></span>{{item.sysName}}
					    </label>
					</li>
		        </ul>
	        </div>
	    </div>
	</div>
</div>

</body>
</html>