<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>创建客户群</title>
<!--[if IE]>
    	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <![endif]-->
	<link rel="stylesheet" theme="default" href="../../asset/css/theme/default/coc_frame.css" />
	<link rel="stylesheet" theme="default" href="../../asset/css/theme/default/main.css" />
	<script type="text/javascript" src="../../asset/script/common/include.js"></script>
	<script type="text/javascript" src="custom_edit.js"></script>
	<!--[if lt IE 9]>
	    <script src="../../asset/script/component/h5compatibility/html5shiv.min.js"></script>
	    <script src="../../asset/script/component/h5compatibility/respond.min.js"></script>
    <![endif]-->
<style type="text/css">
[v-cloak] {
	display: none;
}
</style>

</head>
<body>
	<div class="iframe-nest">
		<div class="ui-reg-main" id="dataD"  v-cloak>
			<div class="ui-lc-mian">
				<h3>客户群信息配置</h3>
				<form id="formData">
					<input type="hidden" id="labelId" name="labelId" v-model="labelId" />
					<input type="hidden" id="nowDate" name="nowDate" v-model="nowDate"/>
					<input type="hidden"  id="effecTime" name="effecTime" v-model="labelInfo.effecTime" />
					<div class="clearfix create-main mt10 dataSource-tab">
			            <div class="form-horizontal mt20">
			            	<div class="ui-form-group">
			                    <a id="showRulesBtn" href="javascript:void(0);" class="ui-btn ui-btn-default fright" onclick="labelInfoModel.showRules()">客户群规则</a>  
			                </div>
			                <div class="ui-form-group">
			                    <label class="control-label" for="labelName" ><span class="input-required">*</span>客户群名称:</label>
			                    <div class="control-input ml10">
			                        <input type="text" id="labelName" v-model="labelInfo.labelName" 
			                        required="true"	class="form-control easyui-validatebox" placeholder="客户群名称">
			                    </div>
			                </div>
			                <div class="ui-form-group" v-if="isShowTacticsIdDiv" >
			                   <label class="control-label" for="tacticsId" ><span class="input-required">*</span>生成策略:</label>
			                    <div class="control-input ml10">
			                    	<select name="tacticsId" id="tacticsId" class="form-control easyui-validatebox" dicCode="LABELTACTICS"
										required="true"	v-model="labelInfo.tacticsId" placeholder="请选择生成策略">
									</select>
			                    </div>
			                    <div id="tacticsIdTip" class="fleft customerTipBox ml10 clearfix" style="display:none;">
			                    	<i></i>
						   			<p>标签没有最新数据，系统将等待执行；如需立即执行，请选择保守策略。</p>
								</div>
			                </div>
			                <div class="ui-form-group" v-if="isShowLabelMonthDiv">
			                   <label class="control-label" for="labelMonth" ><span class="input-required">*</span>数据日期(月)</label>
			                    <div class="control-input ml10">
			                    	<input id="labelMonth" name="labelMonth" type="text" class="form-control input-pointer easyui-validatebox" 
									required="true"	 placeholder="请选择数据日期（月）" onclick="labelInfoModel.changeLabelMonth()"/>
			                    </div>
			                    <div id="labelMonthTip" class="fleft customerTipBox ml10" style="display:none;">
			                    	<i></i>
			                    	<p >所选日期早于标签生效日期，请重新选择!</p>
			                    </div>
			                </div>
			                <div class="ui-form-group" v-if="isShowLabelDayDiv">
			                   <label class="control-label" for="labelDay" ><span class="input-required">*</span>数据日期(日)</label>
			                    <div class="control-input ml10">
			                    	<input id="labelDay" name="labelDay" type="text" class="form-control input-pointer easyui-validatebox"
									required="true"	 placeholder="请选择数据日期（日）" onclick="labelInfoModel.changeLabelDay()"/>
			                    </div>
			                    <div id="labelDayTip" class="fleft customerTipBox ml10" style="display:none;">
			                    	<i></i>
			                    	<p>所选日期早于标签生效日期，请重新选择!</p>
			                    </div>
			                </div>
			                
			                <div class="ui-form-group" id="updateCycleDiv">
			                   	<label class="control-label"><span class="input-required">*</span>生成周期:</label>
			                    <div class="control-input has-icon ml10">
			                        <ul>
										<li v-for="item in updateCycles" style="display: inline">
											<div class="radio circle success">
												<input type="radio" name="labelInfo.updateCycle" :id="'update_'+item.code" v-model="labelInfo.updateCycle" :value="item.code"  />
												<label :for="'update_'+item.code"><i class="default"></i>{{item.dataName}}</label>
											</div>
										</li>
									</ul>
			                    </div>
			                </div>
			                <div class="ui-form-group" v-show ="isShowFailTimeMonthDiv">
								<label class="control-label" for="endDateByMonth"><span class="input-required">*</span>失效时间</label>
								<div class="control-input ml10">
									<input type="text" id="endDateByMonth" name="failTime"  required="true" class="easyui-validatebox form-control" 
										placeholder="请选择失效日期" />
								</div>
							</div>
							<div class="ui-form-group" v-show ="isShowFailTimeDayDiv">
								<label class="control-label" for="endDateByDay"><span class="input-required">*</span>失效时间</label>
								<div class="control-input ml10">
									<input type="text" id="endDateByDay" name="failTime"  required="true" class="easyui-validatebox form-control" 
										placeholder="请选择失效日期" />
								</div>
							</div>
			                <div class="ui-form-group" v-if="isShowPrivaliegeDiv">
			                   	<label class="control-label" for="inputEmail4"><span class="input-required">*</span>数据限制:</label>
			                    <div class="control-input has-icon ml10">
			                       <ul>
										<li v-for="item in dataPrivaliegeList" class="fleft">
											<div class="radio circle success">
												<input :id="item.orgCode" class="checkbix" type="checkbox" v-model='checkedModelList' :value="item.orgCode" />
												<label :for="item.orgCode" class="checkbix"><span class="large"></span>{{item.fullName}}</label>
											</div>
										</li>
									</ul>
			                    </div>
			                </div>
			                
			                <div class="ui-form-group">
			                   	<label class="control-label" for="busiLegend">客户群描述:</label>
			                    <div class="control-input ml10">
			                         <textarea rows="4" id="busiLegend" name="busiLegend" v-model="labelInfo.busiLegend"
                                   		class="easyui-validatebox form-control form-control-textarea" placeholder="客户群描述"></textarea>
			                    </div>
			                </div>
			                
				        </div>
				     </div>
				</form>
				<div class="ui-reg-grid mt40">
                    <div class="ui-grid-button clearfix mt20">
                        <button type="button"  class="ui-btn ui-btn-second" onclick="labelInfoModel.back()">返回</button>
                        <button type="button"  class="ui-btn ui-btn-default" onclick="labelInfoModel.save()" >保存</button>
                    </div>
	            </div>
			</div>

		</div>
	</div>
</body>
</html>