<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>客户群集市</title>
    <!--[if IE]>
    	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <![endif]-->
    <link rel="stylesheet" theme="default" href="../../asset/css/common/reset.css"/> 
    <link rel="stylesheet" theme="default" href="../../asset/css/theme/default/coc_frame.css"/> 
	<link rel="stylesheet" theme="default" href="../../asset/css/theme/default/main.css"/> 
   	<script type="text/javascript" src="../../asset/script/common/include.js"></script>
   	<script type="text/javascript" src="custom_market.js"></script>
   	<script type="text/javascript" src="../label/calculate_center.js"></script>
   	<script type="text/javascript" src="../label/calculate_drag_sort.js"></script>
   	<style type="text/css">
	[v-cloak] {
		display: none;
	}
	#jsonmap1_pager select{
		display:none;
	}
	</style>
    <!--[if lt IE 9]>
	    <script src="../../asset/script/component/h5compatibility/html5shiv.min.js"></script>
	    <script src="../../asset/script/component/h5compatibility/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<div class="iframe-nest" >
		<div class="ui-lc-mian">
			<h3 class="pre" id="labelMktHeader">
				<span>客户群集市</span>
			</h3>
		</div>
		<div id="labelInfoListApp" v-cloak><!-- ID只能写在本层，因为vue冲突 -->
			<!-------------------查询条件 begin ------------------------>
			<div class="ui-lc-mian">
				<div class="ui-label-mes clearfix">
					<span class="fleft">客户群集市 &nbsp; &nbsp;共<b>{{page.totalCount}}</b>个客户群</span>
					<div class="fright">
						<div class="form-group">
							<div class="input-group">
								<input id="labelNameText" type="text" class="form-control" id="exampleInputAmount" placeholder="请输入客户群关键字">
								<span id="btn_search" onclick="labelMarket.btn_search()" class="input-group-addon input-group-icon right-child input-pointer"></span>
							</div>
						</div>
					</div>
				</div>
				<form id="formSearch">
					<input id="labelName" name="labelName" type="hidden">
					<input id="configId" name="configId" type="hidden" />
					<input id="categoryId" name="categoryId" type="hidden" />
					<input id="orgId" name="orgId" type="hidden" />
					<input id="publishTime" name="publishTime" type="hidden" />
					<input id="updateCycle" name="updateCycle" type="hidden" />
					<input id="sortCol" name="sortCol" type="hidden" />
					<input id="sortOrder" name="sortOrder" type="hidden" />
					<input id="createTimeStart" name="createTimeStart" type="hidden">
					<input id="createTimeEnd" name="createTimeEnd" type="hidden">
					<input id="createUserId" name="createUserId" type="hidden">
					<input id="dataStatusId" name="dataStatusId" type="hidden">
				</form>
				<form>
					<ul class="ui-label-system" >
					<li>
						<div class="clearfix">
							<label class="fleft">创建时间：</label>
							<div class="fleft">
								<a href="javascript:;" onclick="labelMarket.changePublishTime(this)" id="allDate" class="all-active fleft"><!-- all-active 去掉非选中状态 -->
									全部
								</a>
								<a href="javascript:;" onclick="labelMarket.changePublishTime(this)" id="oneDay" class="fleft">
									<em>一天</em>
								</a>
								<a href="javascript:;" onclick="labelMarket.changePublishTime(this)" id="oneMonth" class="fleft">
									<em>一个月</em>
								</a>
								<a href="javascript:;" onclick="labelMarket.changePublishTime(this)" id="threeMonth" class="fleft">
									<em>三个月</em>
								</a>
								<div class="control-input">
				        			<div class="control-input date-input fleft has-icon">
						          	<input type="text" class="form-control input-pointer form-control-bubble publishStar" data-dismiss="formDatepicker#sendTime1"  id="" placeholder="请选择开始日期">
						          	<span class="glyphicon-date form-control-feedback"></span>
						        </div>
						        <div class="control-input date-input fleft ml10 has-icon">
						          	<input type="text" class="form-control input-pointer form-control-bubble publishEnd" data-dismiss="toDatepicker#sendTime1" id="" placeholder="请选择结束日期">
						          	<span class="glyphicon-date form-control-feedback"></span>
						        </div>
					        	</div>
							</div>
						</div>
					</li>
					<li class="not-border">
						<div id="Gxzq" class="clearfix" v-cloak>
							<label class="fleft">更新周期：</label>
							<div class="fleft">
								<a onclick="labelMarket.ucSearch(this)" id="allUc" class="fleft all-active">全部</a>
								<a href="javascript:;" onclick="labelMarket.ucSearch(this)" :name="g.code" :id="'updateCycle'+g.code" v-for="g in gxzqList"><em>{{g.dataName}}</em></a>
							</div>
						</div>
					</li>
					<li class="not-border">
						<div id="Sjzt" class="clearfix" v-cloak>
							<label class="fleft">数据状态：</label>
							<div class="fleft">
								<a onclick="labelMarket.dataStatusSearch(this)" id="allDs" class="fleft all-active">全部</a>
								<a href="javascript:;" onclick="labelMarket.dataStatusSearch(this)" :name="d.code" :id="'dataStatus'+d.code" v-for="d in dataStatusList"><em>{{d.dataName}}</em></a>
							</div>
						</div>
					</li>
					</ul>
				</form>
			</div>
			<!-------------------查询条件 end ------------------------>
			<div class="ui-filter-bar ui-lc-mian">
				<!-- 
				<a onclick="labelMarket.changeSortCol(this)" id="customNum" name="labelExtInfo.customNum" class="fleft">
					人气
					<i id="customNumAsc" class="f-ico-triangle-mt"></i>
					<i id="customNumDesc" class="f-ico-triangle-mb"></i>
				</a>
				 -->
				<a onclick="labelMarket.changeSortCol(this)" id="sortPublishTime" name="createTime" class="fleft">
					创建时间
					<i id="sortPublishTimeAsc" class="f-ico-triangle-mt"></i>
					<i id="sortPublishTimeDesc" class="f-ico-triangle-mb"></i>
				</a>
				<div class="fright mr10"><input type="checkbox" id="mySelf" onclick="labelMarket.myCreateCustom(this)"><span>我创建的客户群</span></input></div>
			</div>
			<ul id="labelList" class="clearfix ui-label-list" >
				<li v-for="(item,index) in labelInfoList" :class="{padding0 : (index+1)%3 ==0 }" class=" clearfix">
					<div class="ul-label-box">
						<div class="ui-label-info">
							<h3 class="clearfix">
								<div class="tooltip top" role="tooltip">
									<div class="tooltip-arrow"></div>
									<div class="tooltip-inner">
										<span v-text="item.labelName"></span>
										<div>
											<a style="color:#fff;" href="javascript:;">日标签:<span v-text="item.labelExtInfo.dayLabelDate" ></span></a>
											<span>|</span>
											<a style="color:#fff;" href="javascript:;" >月标签:<span v-text="item.labelExtInfo.monthLabelDate"></span></a>
										</div>
									</div>
								</div>
								<span v-text="item.labelName"></span>
								<i v-on:click="select(index,event,item)"></i>
							</h3>
							<div class="ui-label-item">
								<a href="javascript:;">
									<b v-text="item.customNum" ></b>人
								</a>
								<a href="javascript:;" class="ui-label-date">
									<span v-for="h in dataStatusList" v-if="item.dataStatusId == h.code">{{h.dataName}}</span>
								</a>
								<a href="javascript:;" class="ui-label-time">
									<span v-for="h in updateCycleList" v-if="item.updateCycle == h.code">{{h.dataName}}</span>
								</a>
								<a href="javascript:;" class="ui-label-date not-border">
									<span v-text="item.dataDate"></span>
								</a>
							</div>
							<!--<div class="ui-label-item mt10">
								<a href="javascript:;" style="width:50%">日标签:<span v-text="item.labelExtInfo.dayLabelDate"></span></a>
								<a href="javascript:;" class="not-border ui-label-date"  style="width:50%">月标签:<span v-text="item.labelExtInfo.monthLabelDate"></span></a>
							</div>-->
							
							<div  class="ui-business-caliber-div">
								<h4 class="ui-business-caliber ui-rule">
									<span>规则:{{item.customRuleShow}}</span>
								</h4>
							</div>
							<div  class="ui-business-caliber-div">
								<h4 class="ui-business-caliber ui-rule">
									<spanment">描述:{{item.customComment}}</span>
								</h4>
							</div>
							</br>
						</div>
						<ul class="ui-lable-icon">
						
							<li v-if="item.createUserId==loginUserId&&(item.dataStatusId==3||item.dataStatusId==0)" title="修改">
	 							<a class="label-add" herf="javascript:" @click="updateCustom(item)"></a>
	 						</li>
							
							<li v-if="item.createUserId==loginUserId&&(item.dataStatusId==3||item.dataStatusId==0)" title="删除">
	 							<a class="label-del" herf="javascript:" @click="deleteCustomById(item.labelId)"></a>
	 						</li>
							
							<li v-bind:class="{open:item.isOpen}" title="详情" @click="toggleDropdown(item)">
	 							<a class="label-icon4" herf="javascript:" @click = "window.location='custom_detail.html?labelId='+item.labelId+''"></a>
	 							<!--<ul class="dropdown-menu">
							       <li><a  href="javascript:;" @click = "window.location='custom_detail.html?labelId='+item.labelId+''">详情</a></li>
						        </ul> -->
	 						</li>
	 						<!--<li>
	 							<a class="label-icon1" title="推送" href="javascript:$.alert('[推送]功能暂未完成');"></a>
	 						</li>
	 						<li>
	 							<a class="label-icon2" title="分享" href="javascript:$.alert('[分享]功能暂未完成');"></a>
	 						</li>-->
	 						<!-- <li>
	 							<a class="label-icon3" title="群体画像" onclick="labelMarket.customer_portrait_dialog(this)" href="javascript:void(0);"></a>
	 						</li> -->
	 						<!--<li>
	 							<a class="label-icon5" herf=""></a>
	 						</li>-->
	 					</ul>
					</div>
				</li>
			</ul>
			<div class="ui-corner-bottom mb50">
				<div class="clearfix">
					<div class="fleft totalPage">
						<span class="fleft">共{{page.totalCount}}条记录，共{{page.totalPageCount}}页，当前第{{page.currentPageNo}}页</span>
					</div>
					<div id="jsonmap1_pager" class="tcdPageCode">
						<!--<a href="javascript:;" class="prevPage">上一页</a>
						<a href="javascript:;" class="current tcdNumber">1</a>
						<span class="disabled">下一页</span>-->
						<!-- <select class="ui-pg-selbox ui-widget-content ui-corner-all" title="每页记录数">
							<option role="option" value="10" selected="selected">10</option>
							<option role="option" value="20">20</option>
							<option role="option" value="30">30</option>
						</select> -->
						<!--<span class="inputPageNum">第<input type="text" id="jsonmap1_pageNum">页</span>
						<a href="javascript:;" class="jumpPageNum">跳转</a>-->
					</div>
				</div>
			</div>

			<!---------------------- 计算中心   begin--------------->
			<div class="ui-calculate-center">
				<calculate-center :rule-List ="ruleList" ></calculate-center>
				
				<!-----------------------鼠标经过弹窗  begin------------------>
				<div class="ui-conditionBox">
					<i></i>
					<p class="ui-advanced-sreach mt10">已选条件</p>
					<div class="clearfix ui-contidion-info mt10">
						<div class="fleft">
							<label>更新周期：</label> 
							<span v-for="h in updateCycleList" v-if="labelInfoViewObj.updateCycle == h.code" v-text="h.dataName"></span>
						</div>
						<div class="fright">
							<label>创建时间：</label> 
							<span>{{labelInfoViewObj.createTime|formatDate}}</span>
						</div>
					</div>
					<div class="clearfix ui-contidion-info mt10">
						<div class="fleft">
							<label>数据日期：</label> 
							<span v-text="labelInfoViewObj.dataDate"></span>
						</div>
					</div>
					<div class="clearfix marketTipBottomBox mt10">
						<div class="fright">
							<label>有效期：</label> 
							<span >{{labelInfoViewObj.effecTime|formatDate}}</span>至
							<span >{{labelInfoViewObj.failTime|formatDate}}</span>
						</div>
					</div>
				</div>
				<!-----------------------鼠标经过弹窗end--------------------->
			</div>
			<!---------------------- 计算中心   end----------------------->

			<!----------------------- 购物车 ---------------------------->
			<div class="ui-shop-cart nest">
				<p class="fleft ui-shop-cart-icon">
					<i id="end"></i> <span>已选择标签 {{ruleListCount}} 个</span>
				</p>
				<div class="shop-car-msg"></div>
				<div class="fright">
					<span>客户群数：</span><span class="y-text" v-text="exploreCustomNum"></span>
					<div class="shop-icon" onclick="calculateCenter.explore(event,this);">
						<div class="spinners">
							<div id="preloader_1">
					  			<span></span>
					  			<span></span>
					  			<span></span>
					  			<span></span>
					  		</div>
						</div>
					</div>
					<button type="button" class="ui-btn ui-btn-default mr10" onclick="calculateCenter.gotoSaveCustomer(event,'custommarket');">
						<span class="create-white"></span> 创建客户群
					</button>
				</div>
			</div>

		</div>

	</div>


	<!-- 计算中心弹框 -->
	<!--<div class="ui-dialog" id="ztreeDiv">
		<div class="clearfix ui-enum-content">
			<div class="fleft">
				<div class="ui-enum-list">
					<div class="ui-enum-header"></div>
					<ul>

					</ul>
				</div>

			</div>
			<div class="fleft">
				<div class="ui-enum-header"></div>
				<ul id="ztree" class="ztree">

				</ul>
			</div>
		</div>
	</div>-->
	
</body>
</html>