<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>客户群预览</title>
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <![endif]-->
    <link rel="stylesheet" theme="default"
	href="../../asset/css/theme/default/coc_frame.css" />
<link rel="stylesheet" theme="default"
	href="../../asset/css/theme/default/main.css" />
<script type="text/javascript"
	src="../../asset/script/common/include.js"></script>
    <script type="text/javascript" src="custom_detail.js"></script>
    <!--
        H5兼容js CSS3 兼容JS
    -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <style>
    	.ui-dialog > .form-horizontal{
    		display:none;
    	}
    </style>
</head>
<body>

<div id="dataD" class="iframe-nest">
	<div class="ui-lc-mian">
		<h3>客户群基本信息</h3>
		<div class="ui-custom-info">
			<h3 class="clearfix">
				<span class="fleft" v-text="model.labelName"></span>
				<span class="fright" v-text="model.customNum"></span>
			</h3>
			<div class="clearfix">
			<div id = "labelDetail"></div>
			<!-- <div class="ui-custom-item clearfix clearfix" >
				<a >
					<span>{{item.attrName}}</span>
				</a>
				<a >
					{{item.leftZoneSign}}<span>{{item.contiueMinVal}}</span>
					 且 {{item.rightZoneSign}}<span>{{item.contiueMaxVal}}</span>
				</a>
			</div> -->
			<span class="ui-label-date fright" v-text="model.dataDate">
			</div>
			 <!-- <div class="clearfix">
				<div class="ui-custom-item fleft clearfix">
					<a href="javascript:;">
						年龄
					</a>
					<a href="javascript:;">
						大于<b>10</b>岁 且 小于<b>20</b>岁
					</a>
				</div>
				<span class="ui-label-date fright" v-text="model.dataDate">
				</span>
			</div> -->
		</div>
		<div class="mt10">
			<div class="radio circle success" @click="haveAttr=false"> 
			   <input type="radio" name="radio19" id="myr3" checked="checked"> 
			   <label for="myr3"><i class="default"></i> 不带属性</label>
			</div>
		    <div class="radio circle success" @click="haveAttr=true">
			   <input type="radio" name="radio19"  id="myr4"> 
			   <label  for="myr4"><i class="default"></i> 带属性</label>
			</div>
		</div>
		<div class="ui-edit-h3" v-show="haveAttr" style="display:none;">
			<h3>带出标签属性</h3>
			<div class="ui-custom-info">
				 <!-- <form id="form_search" class="form-inline data-form fright"> -->
				    <div class="form-group">
		                <div class="input-group">
		                    <input type="text" class="form-control" placeholder="标签名称" id="labelName" >
		                     <input id='hiddeninput' type="text" style="display:none" /> 
		                    <div class="input-group-addon input-group-icon right-child" id="btn_search"></div>
		                    
		                </div>
		            </div>
		        <!--  </form>  -->
			    <div class="clearfix mt20">
			    	<div class="ui-custom-col fleft">
					<h3>标签体系</h3>
					<div class="ui-custom-mes">
						<p>基本信息</p>
						<ul id="ztree" class="ztree">
				
						</ul>
						<!-- <p>非基本信息</p>
						<span class="ml20">个人基本信息</span> -->
					</div>
				</div>
					<div class="ui-custom-col fleft">
						<h3>可选标签</h3>
						<div class="ui-custom-mes">
							<ul id="OptionalLabel" class="label-selected">
							</ul>
						</div>
					</div>
					<div class="ui-custom-move fleft">
						<a class="ui-custom-left" id="custom_left"></a>
						<a class="ui-custom-right" id="custom_right"></a>
					</div>
					<div class="ui-custom-col fleft">
						<h3>已选标签</h3>
						<div class="ui-custom-mes">
							<ul class="label-selected" id="selectedLabel">
							<!-- <li >
									<span v-text="model.calcuElementName"></span>
							</li> -->
								<!-- <li><a href="">籍贯</a></li>
								<li><a href="">性别</a></li>
								<li><a href="">品牌</a></li>
								<li><a href="">是否学生</a></li> -->
							</ul>
						</div>
					</div>
				</div>	
				 <!-- <div class="mt20">
					 <div class="form-group mr100">
	                    <div class="">
	                        <select class="form-control input-pointer" name="dataStatusId">
	                        	<option>姓名</option>
	                        </select>
	                    </div>
	                </div>
		            <div class="radio circle success"> 
					   <input type="radio" name="radio20" id="myr3" checked="checked"> 
					   <label for="myr3"><i class="default"></i> 升序</label>
					</div>
				    <div class="radio circle success">
					   <input type="radio" name="radio20"  id="myr4"> 
					   <label  for="myr4"><i class="default"></i> 降序</label>
					</div>
					<button type="button" class="ui-btn ui-btn-second ml30">添加</button>
				</div> -->
			</div>
		</div>
		<div class="ui-custom-btn mt10">
				<button type="button" class="ui-btn ui-btn-ghost-brand mr10" onclick="window.history.go(-1)">取消</button>
				<button type="button" class="ui-btn ui-btn-default mr10">预览</button>
				<button type="button" class="ui-btn ui-btn-default" @click="showDialog()">推送</button>
		</div>
	</div>
	
	
</div>




<div class="ui-dialog" id="dialog">
	<div class="form-horizontal mt10 ui-lc-mian">
		<div class="ui-form-group clearfix" id="radioList">
	        <label for="inputEmail3" class="control-label fleft">推送周期:</label>
	        <ul id="radioList" class="clearfix fleft">
		        <li class="radio circle success"  v-for="(item,index) in dataName" @click="radioSelect(index)"> 
				   	<input type="radio" name="pushCycle" :value="item.code" id="myr3"> 
					<label for="myr3" v-bind:class="{active:index==curentIndex}"><i class="default"></i>{{item.dataName}}</label>
				</li>
	        </ul>
	    </div>
	    <div class="ui-form-group clearfix mt10">
	        <label for="inputEmail3" class="control-label fleft">推送到:</label>
	        <ul class="clearfix fleft" id="checkboxList">
	        	<li class="checkbox fleft" v-for="(item,index) in sysName" @click.stop.prevent="checkSelect(item)" >
				    <input :id="item.sysId" type="checkbox" class="checkbix"  :checked="item.isActive">
				    <label  v-bind:class="{active:item.isActive}" aria-label="" role="checkbox" :for="item.sysId" class="checkbix">
				    		<span class="large"></span>{{item.sysName}}
				    </label>
				</li>
	        </ul>
	    </div>
	</div>
</div>


</body>
</html>