<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>新增推送平台</title>
<!--[if IE]>
    	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <![endif]-->
<link rel="stylesheet" theme="default" href="../../asset/css/theme/default/coc_frame.css" />
<link rel="stylesheet" theme="default" href="../../asset/css/theme/default/main.css" />
<script type="text/javascript" src="../../asset/script/common/include.js"></script>
<script type="text/javascript" src="pushSys_add.js"></script>
<style type="text/css">
[v-cloak] {
	display: none;
}
</style>
<!--[if lt IE 9]>
	    <script src="../../asset/script/component/h5compatibility/html5shiv.min.js"></script>
	    <script src="../../asset/script/component/h5compatibility/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<div id="dataD" class="iframe-nest" v-cloak>
		<div class="ui-reg-main">
			<div class="ui-lc-mian">
				<form id="saveDataForm">
					<input type="hidden" v-model="sysId" id="sysId" name="sysId" />
					<div class="ui-reg-search">
						<div class="form-horizontal ui-form dimtable-table">
							<div class="ui-form-group">
								<label class="control-label fleft"><span class="input-required">*</span>推送平台名称:</label>
								<div class="control-input">
									<input v-model="sysName" id="sysName" name="sysName" type="text" class="fleft form-control easyui-validatebox" required="true" placeholder="推送平台名称" />
								</div>
							</div>
						     <div class="ui-form-group">
								<label class="control-label fleft">描述:</label>
									<div class="control-input">
										 <textarea rows="3" v-model="descTxt" class="form-control form-control-textarea" id="descTxt" name="descTxt"></textarea>
									</div>
							</div> 
							<div class="ui-form-group">
						        <label for="inputEmail3" class="control-label fleft"><span class="input-required">*</span>推送方式:</label>
						        <ul id="radioList" class="clearfix fleft">
							        <li class="radio circle success"  v-for="(item,index) in tsfszd" v-on:click="select(index)"> 
									   	<input type="radio" name="pushType" :value="item.code" :id="'pushType'+index" required="true" :checked="index==curentIndex"> 
										<label id="tsfszd" name="tsfszd" :for="'pushType'+index" v-bind:class="{active:index==curentIndex}"><i class="default" ></i>{{item.dataName}}</label>
									</li>
						        </ul>
						    </div>
						    <div id="filePush" v-show="pushType==1">
							    <fieldset class="push-fieldest">
									<legend>FTP/SFTP信息</legend>
									<div class="ui-form-group">
										<label class="control-label fleft"><span class="input-required">*</span>协议类型:</label>
										<div class="control-input">
											<select  name="protocoType" v-model="protocoType" class="form-control easyui-validatebox" dicCode="XYLXZD"	id="protocoType" required="true">
											</select>
										</div>
									</div>
									<div class="ui-form-group">
									<label class="control-label fleft"><span class="input-required">*</span>IP:</label>
									<div class="control-input">
										<input v-model="ftpServerIp" id="ftpServerIp" name="ftpServerIp" type="text" class="fleft form-control easyui-validatebox"  required="true" />
									</div>
								</div>
								<div class="ui-form-group">
									<label class="control-label fleft"><span class="input-required">*</span>用户名:</label>
									<div class="control-input">
										<input  v-model="ftpUser" id="ftpUser" name="ftpUser" type="text" class="fleft form-control easyui-validatebox"  required="true" />
									</div>
								</div>
								<div class="ui-form-group">
									<label class="control-label fleft"><span class="input-required">*</span>密码:</label>
									<div class="control-input">
										<input v-model="ftpPwd" id="ftpPwd" name="ftpPwd" type="text" class="fleft form-control easyui-validatebox" required="true"  />
									</div>
								</div>
								<div class="ui-form-group">
									<label class="control-label fleft"><span class="input-required">*</span>FTP路径:</label>
									<div class="control-input">
										<input v-model="ftpPath" id="ftpPath" name="ftpPath" type="text" class="fleft form-control easyui-validatebox"  required="true" />
									</div>
								</div>
								<div class="ui-form-group">
									<label class="control-label fleft"><span class="input-required">*</span>端口:</label>
									<div class="control-input">
										<input v-model="ftpPort" id="ftpPort" name="ftpPort" type="text" class="fleft form-control easyui-validatebox"  required="true" />
									</div>
								</div>
								<div class="ui-form-group">
									<label class="control-label fleft">本地路径:</label>
									<div class="control-input">
										<input v-model="localPath" id="localPath" name="localPath" type="text" class="fleft form-control easyui-validatebox"  placeholder="本地临时路径" />
									</div>
								</div>
								</fieldset>
								 <fieldset class="mt10 push-fieldest">
								<legend><input type="checkbox" v-model="checked">对接WEBSERVICE</legend>
									<div class="" v-if="checked">
									 <div class="ui-form-group" >
										<label class="control-label fleft"><span class="input-required">*</span>WSDL:</label>
										<div class="control-input">
											<input v-model="webserviceWsdl" id="webserviceWsdl" name="webserviceWsdl" type="text" class="fleft form-control easyui-validatebox" required="true"  />
										</div>
									</div>
									<div class="ui-form-group">
										<label class="control-label fleft"><span class="input-required">*</span>命名空间:</label>
										<div class="control-input">
											<input v-model="webserviceTargetnamespace" id="webserviceTargetnamespace" name="webserviceTargetnamespace" type="text" class="fleft form-control easyui-validatebox"  required="true" />
										</div>
									</div>
									<div class="ui-form-group">
										<label class="control-label fleft"><span class="input-required">*</span>方法:</label>
										<div class="control-input">
											<input v-model="webserviceMethod" id="webserviceMethod" name="webserviceMethod" type="text" class="fleft form-control easyui-validatebox"  required="true" />
										</div>
									</div>
									<div class="ui-form-group">
										<label class="control-label fleft"><span class="input-required">*</span>参数:</label>
										<div class="control-input">
											<input v-model="webserviceArgs" id="webserviceArgs" name="webserviceArgs" type="text" class="fleft form-control easyui-validatebox" required="true"  />
										</div>
									</div>
									</div>
								 </fieldset>
								 <div class="ui-form-group ml20 mt20">
									 <div class="checkbox fleft checkbox-radio">
									    <input id="showInPage" name="showInPage" type="checkbox" class="checkbix" v-model="pushPage" :checked="pushPage" value="1">
									    <label aria-label="" role="checkbox" for="showInPage" class="checkbix" >
									    		<i class="default"></i>是否推送页面显示
									    </label>
									</div>
								</div>
								 <div class="ui-form-group ml20 ">
									 <div class="checkbox fleft checkbox-radio">
									    <input id="isNeedXml" name="isNeedXml" type="checkbox" class="checkbix" value="1" v-model="pushFile" :checked="pushFile"/>
									    <label aria-label="" role="checkbox" for="isNeedXml">
									    		<i class="default"></i> 是否同时上传xml文件
									    </label>
									</div>
								</div> 
								<div class="ui-form-group ml20">
									 <div class="checkbox fleft checkBox checkbox-radio">
									    <input id="isNeedDes" name="isNeedDes" type="checkbox" class="checkbix" value="1" v-model="showDesKey" :checked="showDesKey"/>
									    <label aria-label="" role="checkbox" for="isNeedDes" class="checkbix"  >
									    		<i class="default"></i>是否需要DES加密
									    </label>
									</div>
									<div class="fleft clearfix ui-push-box" v-if="showDesKey">
										<label class="control-label fleft"><span class="input-required">*</span>加密密钥:</label>
										<div class="control-input">
											<input v-model="desKey"  id="desKey" name="desKey" type="text" class="fleft form-control easyui-validatebox" required="true" />
										</div>
									</div>
								</div>
								<div class="ui-form-group ml20 clearfix">
									 <div class="checkbox fleft checkBox checkbox-radio">
									    <input id="isNeedCompress" name="isNeedCompress" type="checkbox" class="checkbix" value="1" v-model="showCompressType" :checked="showCompressType"/>
									    <label aria-label="" role="checkbox" for="isNeedCompress" class="checkbix">
									    		<i class="default"></i>是否需要压缩
									    </label>
									</div>
									<div class="fleft clearfix ml20 ui-push-box" v-if="showCompressType">
										<label class="control-label fleft"><span class="input-required">*</span>压缩类型:</label>
										<div class="control-input">
											<select  name="compressType" v-model="compressType" class="form-control easyui-validatebox" dicCode="YSLXZD"	id="compressType" required="true">
											</select>
										</div>
									</div>
								</div>
								<div class="ui-form-group  ml20">
									 <div class="checkbox fleft checkbox-radio">
									    <input id="isAllowAttr" name="isAllowAttr" type="checkbox" class="checkbix" value="1" v-model="pushAttr" :checked="pushAttr"/>
									    <label aria-label="" role="checkbox" for="isAllowAttr" class="checkbix">
									    		<i class="default"></i>是否允许推送属性
									    </label>
									</div>
								</div>
								<div class="ui-form-group">
									<label class="control-label fleft">实现类名:</label>
									<div class="control-input">
										<input v-model="pushClassName" id="pushClassName" name="pushClassName" type="text" class="fleft form-control easyui-validatebox"  />
									</div>
								</div>
							</div>
							<div id="labelPush" v-show="pushType ==2">
							<fieldset class="push-fieldest">
									<legend>表推送</legend>
									<div class="ui-form-group">
									<label class="control-label fleft"><span class="input-required">*</span>推送清单表前缀:</label>
									<div class="control-input">
										<input v-model="tableNamePre" id="tableNamePre" name="tableNamePre" type="text" class="fleft form-control easyui-validatebox" required="true"  />
										<span id="tableNamePre" class="fleft columnGreenTip" alphanumUnderline="true"
											title="无属性的清单推送，生成的表名前缀，eg:表名为tabel_name_a,实际表名为table_name_a+系统最新数据日期；为空时走FTP方式;日表每天一天表，月表一月一张表(一次性客户群表数据存在月表中)；">?</span>
									</div>
								</div>
								<div class="ui-form-group">
									<label class="control-label fleft"><span class="input-required">*</span>客户群调度信息表:</label>
									<div class="control-input">
										<input v-model="customTaskTable" id="customTaskTable" name="customTaskTable" type="text" class="fleft form-control easyui-validatebox" required="true"  />
										<span id="customTaskTable" class="fleft columnGreenTip" alphanumUnderline="true"
											title="存储客户群推送调度信息表名">?</span>
									</div>
								</div>
								</fieldset>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>